[2009-09-25 23:32] benalavi opened #1 "0.23 relies on String#force_encoding breaking ruby 1.8 compatability"
line 243 of redis.rb:

[code]

same problem affected Mechanize and they just skipped it for ruby 1.8, simple hacky workaround:

[code]

[2009-09-28 03:29] #1 closed, assigned to nobody

[2009-12-05 06:09] horatio-sans-serif opened #2 "list and set operations applied even if object is invalid"
I noticed that list and set operations are effectively committed immediately.

Consider the case where an object has a list that is updated with a "push", then an attribute is updated some invalid value, and the user tries to save the object.  The validation fails yet the list is still left updated.

[2009-12-08 19:18] cwalcott opened #3 "warning: already initialized constant RedisTimer"
If Ohm is used with the Redis gem, or gem that requires it, "warning: already initialized constant RedisTimer" is given:

[code]

[2009-12-10 13:50] #3 closed, assigned to nobody

[2009-12-10 13:50] #2 closed, assigned to nobody

[2009-12-16 15:57] websymphony opened #4 "Undefined method '[]' for nil:NilClass (NoMethodError)"
require 'rubygems'
require 'ohm'

class Event < Ohm::Model
end

event  = Event.create

When run, it throws following error:

/var/lib/gems/1.8/gems/ohm-0.0.31/lib/ohm/redis.rb:81:in `initialize': undefined method`[]' for nil:NilClass (NoMethodError)
        from /var/lib/gems/1.8/gems/ohm-0.0.31/lib/ohm.rb:12:in `new'
        from /var/lib/gems/1.8/gems/ohm-0.0.31/lib/ohm.rb:12:in`redis'
        f

[2009-12-16 16:18] #4 closed, assigned to nobody

[2010-02-17 22:02] samhendley opened #5 "Collection needs [] methods"
I have been using this monkey patch so I can iterate over an index or just grab the first entry. Is there something dangerous about this code?

Great job BTW this just made using redis trivial

<pre>
module Ohm
  module Attributes
    class Collection
      def [](id)
        model ? model[raw[id]] : raw[id]
      end
    end
  end
end
</pre>

[2010-02-24 05:03] #5 closed, assigned to nobody

[2010-03-22 02:01] samhendley opened #6 "Chaining searches fails on third find..."
First off, great library, its been so solid up till this point I had spent an hour looking for the bug in my code since I assumed it couldn't be in ohm. Well there appears to be a bug when doing a series of finds on the same set of data. The first and second searches work fine, the third one always returns an empty set. It doesn't seem to matter what order you do it in, or what the index is on. I

[2010-04-10 17:55] sinefunc opened #7 "deletion mutates the existing attributes"
I have something like this:

https://gist.github.com/aa32743158857b3fa4b6

Previously this used to work in ohm 0.0.35, write now after the if super call, the price appears to be nil. I guess the deletion mutated the price locally stored.

[2010-04-12 15:22] #7 closed, assigned to nobody

[2010-04-14 10:34] DAddYE opened #8 "Error messages"
Hi! We want to add your adapter to our project: http://padrinorb.com

I've only a big trouble.

Is possible make errors compatible with active model? Basically we need different errors keys like:

<pre>
:inclusion
:exclusion
:invalid
:confirmation
:accepted
:empty
:blank
:too_long
:too_short
:wrong_length
:taken
:not_a_number
:greater_than
:greater_than_or_equal_to
:equal_to
:less_than
:less_than_

[2010-06-28 16:50] abecciu opened #9 "Keep lists of associations and references"
Keep lists of asssociations and references like this: http://gist.github.com/456069

[2010-07-05 19:49] sinefunc opened #10 "Investigate using pipelining for Collection#concat Collection#replace"

[2010-07-05 20:35] sinefunc opened #11 "Some unused code"
After reading the entire ohm.rb source code, I stumbled upon the following unused code

http://github.com/soveran/ohm/blob/master/lib/ohm.rb#L926-L930
http://github.com/soveran/ohm/blob/master/lib/ohm/key.rb#L24-L26

This is more of a note / reminder. Not really an issue.

[2010-07-06 02:24] #6 closed, assigned to nobody

[2010-07-08 03:34] sinefunc opened #12 "Ohm::Key is missing hmget"

[2010-07-09 00:14] #12 closed, assigned to nobody

[2010-08-11 20:49] luislavena opened #13 "Standardize Ohm.connect and Redis.connect options"
Using 0.1.0.rc4 of Ohm, I have standardized by redis.yml (used in a Rails application) to the following:

<pre><code>
development:
  url: redis://server:6379/0
</code></pre>

Now, I simply feed this to Redis.connect options and got my connection.

But `Ohm.connect` doesn't like it, because it calls directly `Redis.new` instead of `Redis.connect`:

http://github.com/soveran/ohm/blob/master/lib/ohm.

[2010-08-27 21:14] luislavena opened #14 "Ohm models lost list [] interaction after Oor merge"
Before oor merge (master) I was able to operate over lists using simple array functionality.

Now, is not possible:

https://gist.github.com/14d319fd48f31ee69971

[2010-08-31 16:08] #14 closed, assigned to nobody

[2010-09-03 15:09] djanowski opened #15 "Add sorted sets"

[2010-09-03 15:47] #13 closed, assigned to nobody

[2010-10-28 16:38] ghost opened #20 "Support for em-redis?"
Hey!

Ohm is awesome! Is there any support for em-redis? Is it planned?

[2010-12-27 14:26] bogdan opened #21 "Support the Redis::Namespace"
We are using Ohm with rails that acts in different envs e.g. development and test.
In this case we need to support the namespace for all Ohm models.
Like:

[code]

[2011-01-14 05:27] rstacruz opened #22 "Setting an ID on a new record makes #new? return false"
[code]

I see that `new?` is defined as "check if the object has an ID" in the documentation, but IMO the name of the method implies "check if it doesn't exist in the data store."

[2011-01-25 05:52] lusis opened #24 "assert_unique treats nil as valid"
Using the following model:

[code]

results in:

[code]

It would be expected that name + nil isn't valid and should push to s.errors. In the interim, I can make :host_id a required field.

[2011-03-31 09:30] ghost opened #26 "helper method in rails failed"
Model

class Post < Ohm::Model
  attribute :title
  attribute :content
  attribute :tags
  include Ohm::ActiveModelExtension
  include Ohm::Timestamping
  ...
End

In controller
  # GET /posts/new
  # GET /posts/new.xml
  def new
    @post = Post.new
    respond_to do |format|
      format.html # new.html.erb
      format.xml  { render :xml => @post }
    end
  end

In view, just use the generated

[2011-05-24 20:49] luislavena opened #27 "Helper to find many ocurrences"
Hello,

Discussing this with soveran on IRC, Ohm provided in the past a way to `search` using `sunionstore`, which allowed things like this:

[code]

`Model#find` and `Model#except` do not provide this multiple values for the indexed key. You can consider this an equivalent to `IN (...)` in SQL-land.

He agreed that `search` could have a come back ;-)

I've tried to hack this myself but my experti

[2011-05-25 02:44] djanowski opened #28 "Allow unique indices which use strings instead of sets"
For example, indexing users by email addresses.

[2011-05-25 02:45] djanowski opened #29 "Add a locking mechanism based on timestamp + WATCH"
Could be contrib, but explore the idea.

[2011-06-09 11:25] #21 closed, assigned to nobody

[2011-08-12 14:38] jmonster opened #33 "Accessing lists and sets before save"
I'm working on a messaging app and utilizing callbacks to publish all new messages to a set of channels after they're create. I want to use an after_create callback to trigger the notification-

class RealTime::Message < Ohm::Model
    include Ohm::Callbacks

[code]

...
end

Ideally I would instantiate a new Message, set the channels, call save and have my after_create notify all the channels. Bu

[2011-09-01 20:10] djanowski opened #34 "Add `[Set|List]#to_json`"

[2011-09-29 07:57] LichP opened #35 "Ohm::Model.const_missing doesn't work with namespaces"
Ohm currently wraps undefined constants to defer evaluation until the constant has been defined, and accomplishes this using ohm::Model.const_missing. However, the wrapping in const_missing uses Object.const_get to evaluate the constant when unwrapping it later on. This works fine when your classes live in the top level namespace, however doesn't work as expected when your classes are inside of so

[2011-11-11 20:47] stouset opened #38 "Joining an association doesn't set the association id"
[code]

The created `Bar` doesn't have its `foo_id` set. Worse, it's added to the Redis `Bar:foo_id:MQ==` set, so a `Bar.find(:foo_id => 1)` returns the `Bar`, even though its `foo_id` is nil.

[2011-11-12 19:22] stouset opened #39 "Cannot delete from set by just id"
You can only remove a member from a `Set` by passing the member itself. There should be a way to remove a set member by just its `id`.

[2011-12-04 14:38] sgtpep opened #40 "What migration strategy should be used with Ohm?"
The standard problem. I have "production" data store that is currently syncronized with "development". Than I change the model. How should I update all records on "production" data store to make them syncronized with new model?

[2012-02-05 09:24] roylez opened #42 "Ohm.connect changes its argument"
I almost think this is my illusion.

[code]

The output is

[code]

I am using Ohm latest version (0.1.3).

[2012-03-02 16:25] myobie opened #43 "New version?"
There appears to have been lots of work done in the last year, is there a reason why a new version hasn't been pushed out?

[2012-03-05 08:37] tribalvibes opened #44 "Need hook for creation of `@_attributes` container"
In `Ohm::Model#initialize` please provide a hook by calling, e.g. `@_attributes ||= Hash.new { |hash, key| hash[key] = get(key) }`   Note use of conditional assignment. Same in the 1.0 branch...please update to call `@_attributes ||= {}`.  This is needed for proper support of typecasting using your style `cast[]` hook.  Doing it via a factory method, i.e. `make_attributes` would be better yet.

Th

[2012-03-08 16:33] djanowski opened #45 "Take a look at string vs integer IDs, check comparison, etc."

[2012-03-09 11:13] joseairosa opened #46 "No DB update when inside a Thread"
While doing some tests i noticed that any update to a pre-existing database entry, while inside a Thread, does not perform any actions on the DB itself.

I already with thread safety on and off.

Any ideas?

[2012-03-11 15:07] compressed opened #47 "Missing version file on master"
When I take the latest from master and try to run `bundle update` I get:

[code]

because `ohm.gemspec` is referencing a non-existent file `require "./lib/ohm/version"`

[2012-03-11 22:59] #47 closed, assigned to nobody

[2012-03-17 23:42] compressed opened #48 "list/set support"
I noticed in master branch, the list/set support is not really there... List isn't implemented and for sets you can only do a limited number of actions (add but not delete). Are you guys planning on adding these back in?

Thanks,
Chris

[2012-03-23 18:28] #39 closed, assigned to nobody

[2012-03-23 18:38] #38 closed, assigned to nobody

[2012-03-23 18:40] #48 closed, assigned to nobody

[2012-03-23 18:43] #35 closed, assigned to nobody

[2012-03-23 19:34] #29 closed, assigned to nobody

[2012-03-23 19:36] #28 closed, assigned to nobody

[2012-03-23 19:38] #27 closed, assigned to nobody

[2012-03-23 19:39] #26 closed, assigned to nobody

[2012-03-23 19:39] #8 closed, assigned to nobody

[2012-03-23 19:47] #9 closed, assigned to nobody

[2012-03-23 19:47] #10 closed, assigned to nobody

[2012-03-23 19:47] #11 closed, assigned to nobody

[2012-03-23 20:01] #20 closed, assigned to nobody

[2012-03-23 20:02] #22 closed, assigned to nobody

[2012-03-23 20:04] #33 closed, assigned to nobody

[2012-03-23 20:12] #24 closed, assigned to nobody

[2012-03-23 20:15] #34 closed, assigned to nobody

[2012-03-23 20:16] #45 closed, assigned to nobody

[2012-03-23 20:18] #43 closed, assigned to nobody

[2012-03-23 20:19] #40 closed, assigned to nobody

[2012-03-23 20:19] #42 closed, assigned to nobody

[2012-03-23 20:20] #46 closed, assigned to nobody

[2012-03-23 22:17] tribalvibes opened #49 "See about nested transactions"
For the transaction mechanism to be more useful, there needs to be support for nesting, e.g. a transactional update of object `A` invokes a transactional update of object `B`.  Further, the read phase of the transaction on `A` may require fetching `B` but this is not known until the `A.t.read` proc executes, generating the `B.t.read` proc.   So, do you have a plan for how to compose and manage tra

[2012-04-04 07:08] monavari-lebrecht opened #50 "How about NOT mandatory indices?"
Hi,

first of all, thank you for Ohm! :) It rocks.
Maybe you can help me understanding something:

I have two models, one is saved to an MySQL storage, handeled by active record, and one is saved to an Redis store handeled by Ohm. Model A (User) has a to many relation to Model B (Venue) and Model B has a to one relation with Model A.

User (ActiveRecord/MySQL)
def venues
    Venue.find :user_id =>

[2012-04-04 07:12] #50 closed, assigned to nobody

[2012-05-01 18:44] joseairosa opened #52 "Updates inside thread - v1.0.0"
Hi,

I came across an issue while making the leap from 0.1.5 to 1.0.0.

Basically and before going into details, here is a short description of the issue:

If I create a new entity on my root thread, and inside a thread I load it and update its data, I get lots of instability afterwards.

Here is a more detailed explication:

[code]

From now on, every time I call `b.data` I sometimes get the data

[2012-05-02 03:18] #52 closed, assigned to nobody

[2012-05-11 09:25] tribalvibes opened #53 "Returning values from transactions"
How does the current implementation provide for e.g. retrieving values atomically from the transaction context?  Say, reading and/or updating multiple counters.  I would fix this by returning the `Store` from `commit` after running it through the `after` filters. Probably it should be passed to the `before` filters too for symmetry and then cloned for each retry of the read/write loop.  Either tha

[2012-05-24 23:25] JesusReagan opened #54 "Unititated Constant Ohm::Typecast"
# encoding: utf-8

require 'sinatra'
require 'haml'
require 'sass'
require 'redis'
require 'json'
require './utils.rb'
require 'ohm'
require 'ohm/contrib'

Redis.current = Redis.new(:host => '127.0.0.1', :port => 6379)

use Rack::MethodOverride

configure do
  set :haml, :format => :html5
end

get '/stylesheets/application.css' do
  scss :application, :style => :expanded
end

class Person < Ohm::M

[2012-05-25 00:09] #54 closed, assigned to nobody

[2012-05-25 19:12] jmcewan opened #55 "is this normal?"
irb(main):001:0> require 'rubygems'
=> true
irb(main):002:0> require 'ohm'
=> true
irb(main):003:0> Ohm.connect
=> nil
irb(main):004:0> class Atom < Ohm::Model
irb(main):005:1> attribute :num
irb(main):006:1> attribute :rgb
irb(main):007:1> end
=> #Proc:0xb7465ee4@/var/lib/gems/1.8/gems/ohm-1.0.1/lib/ohm.rb:1034

system intel atom & ubuntu 12.04

[2012-05-25 19:17] #55 closed, assigned to nobody

[2012-05-25 20:43] JesusReagan opened #56 "Using Ohm::DataTypes still results in unitialized constant error"
Adding 'include Ohm::DataTypes now gives a different error:

class Period < Ohm::Model
include Ohm::DataTypes

attribute :period_name
attribute :period_start, Date
attribute :period_end, Date
attribute :period_earn, Decimal
end

yields:
bastion.rb:78:in `class:Period': uninitialized constant Period::Decimal (NameError)

[2012-05-28 19:08] #56 closed, assigned to nobody

[2012-06-13 13:54] joseairosa opened #57 "Performance in retrieving large amount of values"
Hi there,

One of the functionality of our software is to cache chemical metadata. We have at the moment something like 60 million chemicals, however they're not stored on redis. Redis in this case is just being used as a caching layer for faster retrieval and indexing.
We're using ohm-expire to control the ttl of the chemicals.

The way we're using to retrieve all of the chemicals (in a batch) is

[2012-06-15 08:16] jrichardlai opened #58 "Gem versions for local development"
Hello, what is the versions of the gem that you are using?

I have an issue when wanting to run the tests:

[code]

Thanks

[2012-06-17 17:02] #58 closed, assigned to nobody

[2012-06-20 16:50] catwell opened #59 "Upgrade script"
I know it is written in the README that there will be an upgrade script and that it is not yet available. I am basically opening this ticket to allow people to follow progress on that front.

[2012-06-20 17:43] catwell opened #60 "redis-rb 3.0 support"
The title says it all ;)

[2012-06-28 14:42] #57 closed, assigned to nobody

[2012-07-06 00:12] activestylus opened #62 "Storing Binary files"
I'd like to store small images (10-500K) as values in my datastore. Is this possible with Ohm?

[2012-07-06 17:04] #62 closed, assigned to nobody

[2012-07-10 08:56] magic0fei opened #63 "Stack level too deep issue!!"
I use Rails 3.2.3 and unicorn for production mode, the operation system is CentOS 6.2. (Ohm 1.0.2, Ohm-contrib 1.0.1)

Recently i met a strange problem:

When I started the unicorn, everything went fine at the beginning. But after a few hours, this error occured:

Completed 500 Internal Server Error in 87ms

SystemStackError (stack level too deep):
  activesupport (3.2.3) lib/active_support/callba

[2012-07-16 09:14] ghost opened #64 "IDs are incremented although insertion fails"
Hi all,

I'm iterating over a set of items and wanna insert them into Redis backend:

[code]

UniqueIndexViolation triggers on items whith same :part_number (unique :part_number in my model). What now happens is: although the exception is triggered and the item is not inserted into Redis, the id is incremented. That's strange because I need monotonous increasing IDs without any gaps to get random

[2012-07-16 09:44] #64 closed, assigned to nobody

[2012-07-17 15:24] catwell opened #65 "reference -> index, why?"
When you declare a reference Ohm automatically creates an index on its reader (_id) ([source](https://github.com/soveran/ohm/blob/master/lib/ohm.rb#L940)).

Afaik this reference is never used, except if you also declare a collection ([source](https://github.com/soveran/ohm/blob/master/lib/ohm.rb#L902)). If this is really the case this is kind of wasteful (in my use case I have several references b

[2012-07-30 06:08] #63 closed, assigned to nobody

[2012-08-20 09:08] kenhub-gmbh opened #67 "sorting by counter attribute does not work"

[2012-08-20 14:30] #67 closed, assigned to nobody

[2012-08-29 03:37] ramontayag opened #69 "Finding objects using array of ids"
I recently needed to find all objects given an array of ids. Looking through the source, I could call `Model.all.send(:fetch, [1,2,3])` to get the job done. Am I doing it right? If so, perhaps the `fetch` method could be made public?

[2012-08-29 04:48] #69 closed, assigned to nobody

[2012-08-29 08:51] joker-777 opened #70 "best practice on how to deal with class/attribute changes"
Hi

Could you recommend how to deal best with changes on an ohm class once you have data running in productoin.

For example changing the class name, name/type of attribute.

In our example we wanna change an attribute to an counter.

Thans in advance

Johannes

[2012-08-30 11:10] deepj opened #71 "Model.to_json returns something else than Model.to_hash.to_json"
If I call `Model[id].to_hash.to_json` so it will return a hash `{ "id":"1" }`. But not `Model[id].to_json`, it will return an instance of Model :(

Ohm 1.2.0 and Ruby 1.9.3p134

[2012-10-04 17:43] gingerlime opened #73 "slow performance with ohm/redis"
Already [posted this question on stackoverflow](http://stackoverflow.com/questions/12730716/redis-ohm-slow-performance), but thought I should ask here too, just in case. Hope someone can point us in the right direction?

We're scratching our heads the last couple of days trying to understand why some things seem a bit too slow with redis/ohm on our rails project.

The gist of it is that some reque

[2012-10-17 14:57] gingerlime opened #75 "expire support in ohm?"
I am wondering if using redis' built-in `expire` / `expireat` support has been considered for ohm? I'd like to use something like this for some of our models, but before forging ahead doing something stupid I thought I should ask about any pitfalls or reasons _not_ to do this.

I have found [one gem that attempts this](https://github.com/joseairosa/ohm-expire), but looking quickly at its code I be

[2012-12-02 22:45] blanchma opened #76 "`<module:Ohm>': superclass mismatch for class Set (TypeError)"
/Users/blanchma/.rvm/gems/ruby-1.9.3-p286@oem/gems/ohm-1.2.0/lib/ohm.rb:430:in `<module:Ohm>': superclass mismatch for class Set (TypeError)
    from /Users/blanchma/.rvm/gems/ruby-1.9.3-p286@oem/gems/ohm-1.2.0/lib/ohm.rb:10:in`<top (required)>'
    from /Users/blanchma/.rvm/gems/ruby-1.9.3-p286@global/gems/bundler-1.2.1/lib/bundler/runtime.rb:68:in `require'
    from /Users/blanchma/.rvm/gems/rub

[2012-12-05 04:37] letronje opened #77 "sorting bug ?"
I have a class < Ohm::Model mixing in Ohm::Timestamps and Ohm::DataTypes ( from ohm/contrib ) with 'status' as an integer attribute.

I'm trying to find all entities with a status value and sort them by their updated_at timestamps.

`Entity.find(:status => 2).sort(:by => :updated_at, :order => "DESC").map &:updated_at`

The redis command it generates doesn't work

`"sort" "Entity:indices:status:2"

[2012-12-05 05:50] #77 closed, assigned to nobody

[2013-01-18 20:24] djanowski opened #79 "`Model.all.count` doesn't respect blocks"

[2013-01-18 20:26] djanowski opened #80 "`Model.all.each` loads all instances in memory before yielding"
The performance optimization of using `fetch` becomes a bottleneck when there are too many instances.

We should instead use a reasonable buffer, say, 500-1000 items per pipeline and yield as we go.

[2013-02-28 10:22] tsujigiri opened #81 "An attribute's getter is called on save"
When `save` is called, it uses the value an attribute's getter returns, to store it in Redis. This is a problem when custom getters and setters are defined, that do serialization.

In my case I want to save a marshalled Hash:

[code]

This doesn't work, as the Hash gets deserialized before it gets stored.

[2013-04-02 13:01] joker-777 opened #83 "What is the reason for <Model>:id and why doesn't it get changed/deleted after I delete a <Model> object?"

[2013-04-02 14:30] #83 closed, assigned to nobody

[2013-04-02 18:43] #81 closed, assigned to nobody

[2013-04-11 14:11] damonmorgan opened #85 "Model.delete not removing value from uniques"
With a model

[code]

The following will raise an Ohm::UniqueIndexViolation:

[code]

[2013-04-19 13:01] #85 closed, assigned to nobody

[2013-04-19 13:19] #80 closed, assigned to nobody

[2013-05-02 06:17] Asmod4n opened #88 "Ohm V2 and Windows/jRuby/Tomcat"
Hello,
i have taken at look at the next Version of Ohm and am a bit disappointed, the new Redis Library you use requires hiredis which doesn't work on Windows, jRuby or any Java Application Server.
Will you still offer redis-rb support which is written in pure Ruby and doesn't need a C Extension?

[2013-05-16 13:11] joseairosa opened #89 "Connection pooling"
Hi @cyx and @soveran,

A couple of days ago I noticed that our redis server was running out of available connections when our API was being heavily used (we had the configuration set to provide 4000 connections).

After some careful investigation I detected where the problem was coming from.

[code]

Basically every time we would run any threaded request a new connection would be started , thus ex

[2013-05-21 17:02] argerim opened #90 "Delete Method"
http://ohm.keyvalue.org/Ohm/Model.html#delete-instance_method

Really delete all your keys, including their collections?

[2013-06-30 14:57] #88 closed, assigned to nobody

[2013-07-19 10:48] #60 closed, assigned to nobody

[2013-07-19 10:49] #59 closed, assigned to nobody

[2013-08-06 09:24] #65 closed, assigned to nobody

[2013-08-15 03:26] #90 closed, assigned to nobody

[2013-08-20 09:39] glennr opened #94 "cannot use with state_machine initial state : undefined method `[]' for nil:NilClass"
Im trying to use Ohm + state_machine  but Im getting this error when instantiating an Ohm object;

[code]

The backtrace (below)

[code]

And my offending model;

[code]

It seems that the state_machine declaration tries to use the Ohm setter to assign the initial state before Ohm's @attributes instance variable has been instantiated (via super).

The relevant line is shown in this screenshot. htt

[2013-08-29 15:11] #94 closed, assigned to nobody

[2013-08-29 15:44] #76 closed, assigned to nobody

[2013-09-05 22:48] pwiebe opened #96 "sort_by doesn't sort as per order."
using sort_by or sort(by:) doesn't sort in the desired order.  For example, sort(order: "DESC") sorts in descending order of IDs; however, sort(by: :id, order: "DESC") does not.

[2013-09-19 13:47] etagwerker opened #97 "Redis::InheritedError: Tried to use a connection from a child process without reconnecting. You need to reconnect to Redis after forking."
Hey!

I just ran into this issue when deploying a feature that uses `Ohm`:

[code]

My application uses `Unicorn` and I'm doing zero-downtime deploys. My `Rails` application is running in one server and `Redis` is running in another one.

I have a `config/initializers/ohm.rb` that looks like this:

[code]

I realize that when trying to do zero-downtime deploys I'll need to add similar code to Unic

[2013-09-23 08:59] lolomarx opened #98 "How can i integrate Paperclip or carrierwave with Ohm"
I can't find any document about integration with upload gems like carrierwave or Paperclip.

Other ORM for Redis key-value can do it. the link is http://def-end.tumblr.com/page/2

Would you please help to  do a example for it?

[2013-11-05 02:18] iamzhangdabei opened #100 "is there a way to delete all data in a model"
like
class A < Ohm::Model
  attribute :name
end
is there a way to delete all data in A?

[2013-11-07 08:47] #100 closed, assigned to nobody

[2013-12-17 02:23] #70 closed, assigned to nobody

[2013-12-17 02:24] #71 closed, assigned to nobody

[2013-12-17 02:32] #44 closed, assigned to nobody

[2013-12-17 02:33] #53 closed, assigned to nobody

[2013-12-17 02:54] frodsan opened #111 "Release candidate for v2"
Release candidate for Ohm 2:
- [x] Reflect v2 changes in the CHANGELOG file.
- [x] Check if documentation needs an update/refresh.
- [x] Update README.
- [x] Profit.

[2013-12-17 13:25] #49 closed, assigned to nobody

[2013-12-17 22:58] #15 closed, assigned to nobody

[2013-12-17 23:30] #79 closed, assigned to nobody

[2013-12-19 02:54] #97 closed, assigned to nobody

[2013-12-20 15:13] #111 closed, assigned to nobody

[2013-12-20 16:08] frodsan opened #130 "Proposal: Make List#ids part of the public API"
[code]

If you think is a good one, I'll prepare a PR :)

[2013-12-21 15:45] swapab opened #132 "Find with multiple attribute values"
Am trying to form a redis query to read multiple objects.
the query reads like - _Get records based on collection of attribute values._

Right now [finding-records](https://github.com/soveran/ohm/tree/1.3.x#finding-records) works as follows:

`User.find(account_id: 1)`

Can't it be made like

`User.find(account_id: [1, 2, 3])`

Per Ohm [DSL example](https://github.com/soveran/ohm/blob/1.3.x/lib/oh

[2013-12-27 19:48] #89 closed, assigned to nobody

[2014-01-07 17:53] #96 closed, assigned to nobody

[2014-01-08 16:02] #73 closed, assigned to nobody

[2014-01-08 16:05] #75 closed, assigned to nobody

[2014-01-13 08:36] Asmod4n opened #139 "Thread safety with self.redis"
Currently https://github.com/soveran/ohm/blob/master/lib/ohm.rb#L101 is not thread safe.
All threads will share access to the same Redic object, and there's also a secondary bug here which means when the object is first being allocated and memoized as @redis. The first thread that tries to allocate it may get a different version than all the other threads because the memo value it set got clobbere

[2014-01-30 11:14] nnikolic opened #142 "EXPIRE & TTL functionality"
Hi,

First I would like to thank you on nicely done gem, its a time saver.

I could not find how to use EXPIRE & TTL with your gem so I guessed that it is not implemented yet. Can you say if it is in plan to build support for those (for models) and if so when we can expect release?

Thanks.

Cheers,
Nenad

[2014-01-30 16:29] #130 closed, assigned to nobody

[2014-01-30 20:35] #142 closed, assigned to nobody

[2014-02-07 16:44] #132 closed, assigned to nobody

[2014-02-12 11:55] ngw opened #147 "Weird behaviour with validations"
Hi, I have a very strange problem with Ohm, OhmModel.create returns nil (and does't do anything). I suspect it has something to do with my use of callbacks, hopefully someone will be kind enough to explain what's happening in here:

Here is my code, a very simple class. I want the attrs :token and :secret to be populated with a random string when empty.

[code]

And here is the result:

[code]

If

[2014-02-25 19:10] #139 closed, assigned to nobody

[2014-02-26 11:22] #147 closed, assigned to nobody

[2014-03-05 21:33] egenial opened #153 "I can only do research with integers"
Hello friends,

I'm experiencing a difficulty, I am trying to do research on other indexes of type boolean or string, but without success, see the result below.

Any help will be appreciated.

My class:

class PerformerSession < Ohm::Model
  attribute :model_id
  attribute :credits
  attribute :show_is_over
  attribute :nude_chips_price
  attribute :peek_chips_price
  attribute :private_chips_pric

[2014-03-11 15:49] #153 closed, assigned to nobody

[2014-03-29 15:24] carlosipe opened #162 "Unique index but not mandatory"
Hey @soveran!

Maybe you can help me with this:

I have something like this:

[code]

I want to be able to do

[code]

And only raise the Ohm::UniqueIndexViolation when doing

[code]

Is it possible to have nullable unique indexes? I want to have a unique index but also being able to save nil on that field.

Is there a workaround for this? Or maybe I'm not understanding how I should use unique ind

[2014-03-30 07:43] #162 closed, assigned to nobody

[2014-04-08 15:50] phuongnd08 opened #163 "Serialize with rails-api/active_model_serializers"
How to serialize ohm object with rails-api/active_model_serializers?

[2014-04-09 04:19] #163 closed, assigned to nobody

[2014-04-21 19:02] copernicus opened #164 "NoMethodError: undefined method `each' when doing a sort_by"
Using redis server 2.8.8 on OSX with ohm 2.0.0 on Ruby 2.1.1.

Have a simple model class

[code]

Insert some records like this:

[code]

When I query for the records, sort works fine:

[code]

When I try the sort_by on description I am getting this error:

[code]

Am I doing this the wrong way? Any pointers or help appreciated.

thanks

[2014-04-21 19:38] #164 closed, assigned to nobody

[2014-04-22 16:49] copernicus opened #165 "Full Text Search?"
Is there anyway to do a full text search on the model? I did find this project by Nate - https://github.com/nateware/redis-textsearch

I was going to try to use that, but just wanted to check if there was a built-in way.

thanks!

[2014-04-22 16:59] #165 closed, assigned to nobody

[2014-05-02 15:12] luca3m opened #166 "C++ compatible Library"
Hi,

I've just released version 1.0 of [redis3m](https://github.com/luca3m/redis3m). It's a C++ redis client which includes an `orm`class, full compatible with ohm. It uses the same Lua script to save, get and remove data.

I will appreciate if you would like to add a reference to it on Ohm docs.

[2014-05-02 15:29] phuongnd08 opened #167 "Remove attribute and index from Ohm::Model causing NoMethodError: undefined method (removed attribute) when load model"
I have an Ohm::Model that define an attribute and an index.
When I later remove the attribute, and try to load the model, it's say: `NoMethodError: undefined method <removed_attribute_name>`.

[2014-05-18 03:09] #166 closed, assigned to nobody

[2014-05-19 05:24] amcvega opened #170 "Connection Pooling"
I ran into problems using Ohm in a multi-threaded context and decided to implement connection pooling.

I modified ohm's synchronize method to accomodate this. here: https://github.com/amcvega/ohm/commit/e3eaed57e9a54e2aeecb11e93bcda5b6f3e9b35d

Then I created a Pooling wrapper to conform with the Redic API as well as fix the method names here: https://github.com/amcvega/ohm/commit/584998575e62c74

[2014-05-19 13:41] #170 closed, assigned to nobody

[2014-06-06 10:57] gingerlime opened #171 "Ohm upgrade - finding records with non-set attributes"
I'm in the process of upgrading to Ohm 2 and have encountered a change in behaviour that I'm not entirely sure how to work around.

Before, I could filter for non-set indexed attributes by searching for `nil`. Now it seems not to work any more...

[code]

Any suggestions on how to filter non-set attributes with the latest Ohm version?

[2014-06-26 14:05] #167 closed, assigned to nobody

[2014-07-08 01:16] pchaganti opened #173 "Specifying the db number to connect for a model?"
Is there any way to specify the redis db num to connect for Ohm models? Saw some mention of Ohm.connect but that method is not exposed in recent versions.

thx!

[2014-07-08 03:19] #173 closed, assigned to nobody

[2014-08-23 09:02] phuongnd08 opened #174 "Support for Redis set, hash, list in Ohm"
Redis support `set`, `hash`, `list` at its nature. Would be nice if we have something like that in Ohm.
Perhaps a field that return a Nest where user can use `smembers`, `hset`, `hget`...
I'm using this kind of stuff:

[code]

 but it would be cool if it's built in to Ohm, just to have the key name consistent with other field

[2014-08-23 13:17] #174 closed, assigned to nobody

[2014-09-10 06:55] kosh-jelly opened #176 "synchronize in sort_by causes hanging in multithreaded environment?"
I'm using ohm with sidekiq and after 15 - 24 hours sidekiq constantly hangs. About 90% of the 200 threads are stuck on this:

/app/vendor/bundle/ruby/2.1.0/gems/ohm-2.0.1/lib/ohm.rb:782:in `synchronize'
/app/vendor/bundle/ruby/2.1.0/gems/ohm-2.0.1/lib/ohm.rb:782:in `synchronize'
/app/vendor/bundle/ruby/2.1.0/gems/ohm-2.0.1/lib/ohm.rb:139:in `fetch'
/app/vendor/bundle/ruby/2.1.0/gems/ohm-2.0.1/lib/

[2014-09-11 18:53] gingerlime opened #177 "Ohm upgrade data corruption"
We tried to upgrade Ohm from v1.3 to v2.0 (and later v2.0.1), but had some weird things going on. Unfortunately I wasn't able to reproduce it at the time, even after trying for several hours. We since downgraded back to v1.3

Now I came across some kind of a data corruption that looks like it was related to the upgrade / downgrade. The updated_at timestamps of some of our database objects (linked

[2014-09-12 20:00] egenial opened #178 "Performance and find constant update?"
Hello,

is there any performance difference between version 1.3.2 and version 2.0.1?

I ask because we have a system that uses massively searching and updating records in redis and want to use the ohm to make it realtime*.

we will generate around 10,000 users in searching and updating in redis ohm every 5 seconds.

Some consideration?

Thanks!

[2014-09-18 22:52] pote opened #179 "Inconsistent class of Ohm model IDs"
This one had me scratching my head for a bit.

![example](http://i.imgur.com/jpbQO6T.png)

When Ohm models are first created their id is an integer but whenever they are loaded from the database the id is a string.

This might not seem like a huge problem for most cases but it did cause trouble for me as I was unmarshaling messagepack-encoded models from a Go component that expected a string in th

[2014-09-18 23:49] #179 closed, assigned to nobody

[2014-09-29 12:20] ronan-mch opened #181 "active model compatibility"
Hey! I'm working with OHM alongside standard Rails objects in a Rails application and I've created a wrapper around Ohm::Model to make my OHM objects Active Model compatible. I was just wondering whether this would be something you'd be interested in having for the Contributions library? I'm still a bit of a Rails neophyte so a code review from a more experienced Rails programmer would be useful.

[2014-09-29 14:08] #98 closed, assigned to nobody

[2014-09-29 18:15] #181 closed, assigned to nobody

[2014-09-30 06:41] #178 closed, assigned to nobody

[2014-09-30 07:23] #177 closed, assigned to nobody

[2014-10-19 04:02] phuocngdev opened #183 "Preventing creation of Ohm record"
How can we prevent the creation of the Ohm record in the "before_create" method?

[2014-11-05 17:01] kosh-jelly opened #184 "Connection Pooling Failing on Sets"
Two previous issues (https://github.com/soveran/ohm/issues/170 and https://github.com/soveran/ohm/issues/89 ) say using redic-pool (https://github.com/djanowski/redic-pool) with ohm 2.0 works well, but it doesn't seem to be working at all for me. It looks like its failing on sets.

A simple test demonstrates the issue:

    describe LiveDomain do

	  describe 'works with enumerable' do
		it 'yield

[2014-11-18 19:46] barberj opened #185 "Calling collection attribute is returning string instead of collection"
[code]

class SomeClass < Ohm::Model
  collection :children, :SomeClass, :parent
end

x = SomeClass.new
x.children.map { |c| c.id }

Running in a multithreaded environment under sidekiq. Having troubles reproducing locally.

From `lib/ohm.rb`
[code]

[2014-11-18 20:15] #183 closed, assigned to nobody

[2014-12-23 18:41] umdstu opened #186 "Ohm::Model relationship with ActiveRecord::Base`?"
I saw #181 mention this, I think, but the link to his code is dead now. I have a few models which persist to MySQL, and need to stick around. Then there is a model I have which are generated by the thousands and deleted by the thousands throughout the day, and mysql is currently a bottleneck for me.

Before seeing #181 I wrote this in my Ohm::Model based on what the reference shortcut was really d

[2015-01-07 09:58] brainfunked commented on #20
I managed to get Ohm 1.3.x working with `EM::Synchrony`. Even though we're on 2.x with [redic](https://github.com/amakawa/redic) now, the following information may still be useful.

I replaced the entire `Ohm::Connection` class with an `EM::Synchrony::ConnectionPool` based implementation. However, to get it to work, I had to replace all the instances of `Redis#multi` and `Redis#pipelined` calls to

[2015-01-20 10:54] soveran commented on #185
@barberj Could it be related to this issue? https://github.com/redis/redis-rb/issues/501

Which Ruby version are you running in prod?

[2015-01-20 18:47] barberj commented on #185
ruby 2.0. I ended up rolling my own home grown redis models since could never get ohm to work.

[2015-01-20 18:57] soveran commented on #185
Can you share some piece of code so that I can try to reproduce it?

[2015-01-22 14:40] urbanczykd opened #188 "Is it possible to fetch all object from array?"
let's say that I have in redis something like that
Os.create(:me => 1, :color => 'blue')
Os.create(:me => 2, :color => 'blue')
Os.create(:me => 3, :color => 'red')
Os.create(:me => 4, :color => 'green')

and I would like to fetch this data somehow like that
Os.all.find(:me => [2,3])
so in this case i should get 2 objects with color ble and red
and whould be just awsom If i could get
Os.all.find(:m

[2015-01-22 14:50] frodsan commented on #188
Maybe:

[code]

[2015-01-22 15:00] soveran commented on #188
What about this:

[code]

[2015-01-22 15:22] urbanczykd commented on #188
yes this works just fine but i'm affraid that in my case this 'me' sometimes can be more then 100 passing as array would be more useful but maybe I will just write own method for this case if this feature is not on project road map it's better if I will do it only for my project

[2015-01-22 17:01] soveran commented on #188
I just released a new version that you can use for solving that problem. There's now a new filter called `combine`, you can use it like this:

[code]

[2015-01-22 17:06] urbanczykd commented on #188
thanks much I will update 1.3.x because our project it's still on ruby 1.8.x and because of require_relative it can't work but i will move this method to 1.3.x and maybe it will be possible to create new 1.3 version ?

[2015-01-22 17:29] soveran commented on #188
I backported the feature and released the 1.4.0 version. If it works for you, you can start following the 1.4.x branch.

[2015-01-30 17:40] soveran commented on #186
Please reopen this issue if the code I mentioned doesn't solve the problem.

[2015-01-30 17:40] #186 closed

[2015-01-30 17:41] soveran commented on #185
Closing this as we don't have a way to replicate the issue.

[2015-01-30 17:41] #185 closed

[2015-01-30 17:41] #188 closed

[2015-01-30 17:44] soveran commented on #176
@kosh-jelly It looks like it may be a problem with Timeout in Ruby 2.1.0. Can you check if you get the errors only with that version?

[2015-01-30 17:45] soveran commented on #184
Summoning @djanowski to check the redic-pool part.

[2015-02-02 07:25] phuongnd08 opened #190 "Cannot save record on automatically failover"
We are using redis-sentinel to do automatically failover. When new master promoted, the redic client is instructed to reconnect to the new master. Ohm trying to use EVALSHA but the sha is not to be found on the new master thus cause record unable to be stored.

[2015-02-02 07:32] soveran commented on #190
The cache uses the Redis URL as the key (check [here](https://github.com/soveran/ohm/blob/0c385ae53b2b79e3b9f555d077f72ffaebd2e0aa/lib/ohm.rb#L1467)), does the redis-sentinel client update that value?

In other words:

[code]

If this is easy to check for you, let me know and we follow up from there. I haven't tried it myself, but I can do it if you are busy with something else.

[2015-02-02 07:37] soveran commented on #171
@gingerlime I released an update to the 1.3 branch (version 1.4 is out and includes a new filter type, `combine`). I'm closing this issue as we can't fix it easily (it's a backwards incompatible change), but I will keep maintaining the 1.4.x branch.

[2015-02-02 08:19] phuongnd08 commented on #190
I see, right now it only changes the uri of Ohm.redis.client. Need some patch to propagate that change to Ohm.redis.

[2015-02-03 14:04] gingerlime commented on #171
Thanks for the update @soveran. We eventually decided to move away from Ohm. We just couldn't upgrade safely to 2.0 and some things felt like they didn't really fit for us.

[2015-02-03 14:25] soveran commented on #171
No problem!

[2015-02-04 15:00] soveran commented on #176
@kosh-jelly I'm closing this now, but please reopen it if you encounter any issues. Thanks a lot for this report.

[2015-02-04 15:00] #176 closed

[2015-02-11 22:57] b-murphy opened #191 "attribute default value contribution"
Hey Soveran & folks :-)

I've been working on a project using Ohm, currently and have come to the point where i will need to define default values for attributes on my objects.

So my question isn't the possibility of it, more of where / if  it would be welcomed as an addition? Considering that ohm-contrib does not mutate ohm in any way (i can see..!) This addition would re-open the attribute sing

[2015-02-16 15:28] soveran commented on #191
Hey there! I think there are probably two ways to mimic that behavior. One would be to use [callbacks](https://github.com/cyx/ohm-contrib#on-the-topic-of-callbacks) and set the default value, and the other would be to use attribute casting:

[code]
Would that work for your use case?

[2015-03-13 19:27] deric opened #192 "Unable to save model"
When I try to save a model, I get this error:

[code]
The problem seems to be [here](https://github.com/soveran/ohm/blob/0c385ae53b2b79e3b9f555d077f72ffaebd2e0aa/lib/ohm.rb#L1467)

the call `redis.url` is causing method missing error, probably it should be something like `redis.client.options.url`
[code]

However, the `url` doesn't have to be defined at all. What if the client is connected via an

[2015-03-13 19:31] frodsan commented on #192
Ohm 2.0 only supports [Redic](https://github.com/amakawa/redic). I guess you are using `redis-rb`.

See: https://github.com/soveran/ohm#connecting-to-a-redis-database

[2015-03-13 22:06] deric commented on #192
You're right, I've totally overlooked that. Thanks!

[2015-03-13 22:06] #192 closed

[2015-03-31 10:31] inf0rmer commented on #184
Hi! Is there any news on this? I ran across the exact same issue today. Without using connection pooling everything works as expected, as soon as `Ohm.redis` is changed over to a Redic::Pool instance I get the same kind of errors @kosh-jelly is experiencing.

[2015-04-06 13:08] jeromegn commented on #184
I've stumbled across this as well.

[2015-04-06 15:54] djanowski commented on #184
Looking at it.

[2015-04-06 15:58] jeromegn commented on #184
To be more precise, I'm getting a different error. The Ohm::Set seems to be trying to make a Hash with an argument of unexpected type.

It happens here for me: https://github.com/soveran/ohm/blob/master/lib/ohm.rb#L75 where `arr == "OK"`.

[2015-04-06 16:20] djanowski commented on #184
This should be fixed in `redic-pool` 1.0.1. Can you please give it a try?

[2015-04-06 16:23] jeromegn commented on #184
My issue seems fixed. I don't know about @kosh-jelly's though!

[2015-04-06 16:58] soveran commented on #184
I think we can close this!

[2015-04-06 16:58] #184 closed

[2015-04-07 10:04] inf0rmer commented on #184
I just tested it on my end, and `redic-pool 1.0.1` definitely solves it. Thank you!

[2015-04-07 14:03] djanowski commented on #184
Thanks!

[2015-06-03 18:30] zenry commented on #177
I think I have the same/similar issue and am able to reproduce it

![](https://www.dropbox.com/s/kc6ys2t3jn8zw84/Screenshot%202015-06-03%2020.26.24.png?dl=1)

According to `Cart:1:items` I should have 4 items while in reality 2 have been deleted.

Output from the console
[code]

[code]

I know very little about Redis but if you tell me how to send you my database I'd be happy to help

[2015-06-04 11:35] zenry commented on #177
[code]

I'm new to Ruby and Ohm for that matter but I got it working as I expected it should by deleting the set item on the collection instead of just deleting the model itself.

[2015-06-04 11:39] soveran commented on #177
@zenry If you have a `reference` in place, you can use a `collection` on `Cart` to refere to all the `CartItem` instances:

[code]
That way you don't need to update a set by hand.

[2015-06-04 11:44] zenry commented on #177
@soveran thanks, will change it

[2015-07-26 01:18] kapso opened #198 "Index on multiple attributes?"
Can you create an index on multiple attributes? So something like this...

[code]

[2015-07-26 03:07] kapso commented on #198
Figured thus out, I will have to define

[code]

[2015-07-26 03:07] #198 closed

[2015-07-26 06:40] soveran commented on #198
Yes, that's the way to define multiple indices. Note that any method can be indexed, so if you ever have a need of a composed index, you can build it like this:

[code]

Of course `full_name` is not the best use case for a composed index! I just wanted to mention the idea just in case you ever need it.

[2015-08-07 09:47] soveran commented on #191
Closing this for now, please let me know if we should reopen it.

[2015-08-07 09:47] #191 closed

[2015-08-07 09:48] soveran commented on #190
@phuongnd08 I'm closing this issue for now, but please let me know if I can help you or if we need to reopen it.

[2015-08-07 09:48] #190 closed

[2015-08-07 09:48] #171 closed

[2015-08-07 17:34] hackeron commented on #167
I've removed an attribute from my model and I'm getting the dreaded:

[code]

Is there anyway to remove this live_token attribute from the database without rewriting my model file?

Something live the above User.all.remove_attribute(: live_token) would be fantastic, but can't seem to find anything like this.

[2015-08-07 17:39] hackeron commented on #70
[code]
Any ideas?

[2015-08-07 17:43] hackeron opened #199 "How to remove an attribute from an ohm model?"
I edited my Ohm model file to remove an attribute that is no longer required. When I try to fetch the first item, I get:

[code]

How do I do a type of migration to remove this no longer requires live_token attribute?

I found a few suggestions like #70 and http://stackoverflow.com/questions/12138278/ohm-how-to-drop-a-column-attribute but it seems the information there no longer applies in the lat

[2015-08-07 20:24] soveran commented on #70
Hello @hackeron, you can send commands to Redis with the `call` method on the `Redic` instance:

[code]

You can read more about Redic here: https://github.com/amakawa/redic

[2015-08-07 20:39] soveran commented on #199
What's happening is that in the database, the field `live_token` still exists, so the best way to deal with that is to first set all those fields to `nil`, and just then remove the attribute from the code. The way to fix it now is a bit more complex, but totally feasable.

First, remember that if you load any `User`, you will get that error, so iterating on `User.all` won't work. But you can acces

[2015-08-08 20:32] hackeron commented on #199
Thank you for the feedback, that works :) - I ended up doing this in a temporary initialiser file:

[code]

Seems a bit messy - I prefer how Mongoid deals with adding/removing fields but thank you for the solution :)

[2015-08-08 20:32] #199 closed

[2015-08-08 20:46] soveran commented on #199
Yes, it's true that it doesn't look very elegant, sorry for that. The best way to handle it for now is to set those fields to null first, and then you can change the code directly without running those direct calls to Redis.

[2015-08-09 09:06] hackeron commented on #199
I am deploying this code with Ansible to hundreds of servers - some of them have this field, some do not. Essentially I want to just ignore any fields that I no longer care about.

It seems like a lot of extra steps to to set those fields to null? E.g.
1. Copy an extra script to the server before updating the source
2. Run this script with bundle exec
3. This script will check for the existence of

[2015-08-09 09:49] soveran commented on #199
I think we can split the problem in two: one problem is the migration, and the other is the fact that in your case, some servers had the extra fields and some didn't. The later is probably a very particular case that is not worth generalizing, and we can focus on the first problem instead.

In the general case, the benefit of setting the fields to null is that if there are any indices, they will b

[2015-08-09 14:32] hackeron commented on #199
That would be fantastic! - Right now it's a kind of a chicken and egg situation: in order to set to null, I need to git pull and run the new code, but if I do that, Ohm becomes unusable as the attribute is missing in the model.

So something like User.remove_attribute(:foo) would be great :) - maybe that can return the attribute name if exists and nil if it is already removed (with another remove_

[2015-08-10 19:23] confiks opened #200 "Confusion about Ohm#update_attributes raising NoMehodError"
There are now several issues (#199, #167) in which people voice their confusion about update_attributes raising NoMethodError upon receiving an attribute that is present in Redis but not as attribute on the model.

I imagine this is an issue that occurs frequently with new users, as they iterate the model designs while developing, and inevitably delete a model attribute at some point. At the very

[2015-09-03 09:22] TiagoCardoso1983 commented on #60
Is this really fixed? I'm getting the following error:

[code]

[code]

Or was this ```#call``` method removed at some point?

[2015-09-03 09:42] soveran commented on #60
Hello @TiagoCardoso1983, starting on version 2.0.0, Ohm moved to a more lightweight Redis client called [Redic](https://rubygems.org/gems/redic). You can check how to customize the connection in the [Connecting to a Redis database](https://github.com/soveran/ohm/#connecting-to-a-redis-database) section of the README. Note that you don't need to require any other library, as Ohm takes care of that

[2015-09-03 13:49] TiagoCardoso1983 commented on #60
@soveran I saw it and (for now) have it setup that away, however, as I'm using thin/EM, I'd like something that would be compatible with the reactor. redis-rb already provides this. I haven't seen the full code, but I'd say it would be easier to make ohm compatible with the redis raw client than build eventmachine support in redic. the way I see it, Redic connections respond to a ```call```method.

[2015-09-03 16:15] soveran commented on #60
Maybe what we can do is to create a library that wraps redis-rb in order to make it API compatible with Redic. I can take a look at that tomorrow morning, and I'll let you know how it goes. Sounds good?

[2015-09-04 06:22] TiagoCardoso1983 commented on #60
Very :+1 . Thx for the awesome feedback!

[2015-09-04 09:49] soveran commented on #60
I tried this and it looks like it works with Ohm, but I haven't tried it with EM, can you check it and let me know?

[code]

And here's how to use it:

[code]

[2015-09-04 16:58] jogaco commented on #167
Is it possible to drop all redis information for a given class, so that if I reinsert, it starts assigning ids from 1?

A command such as

[code]
to delete all Post metadata stored at redis would be useful.

[2015-09-06 06:32] TiagoCardoso1983 commented on #60
humm, wont you have then this way two simultaneous connections open to redis?

[2015-09-06 13:10] soveran commented on #60
No, it only uses Redic for its thread-safe buffering features, so it never connects. In both clients the connection is lazy, meaning that it won't be established unless you send a command. This wrapper only sends commands to redis-rb, never to Redic.

[2015-09-06 20:25] TiagoCardoso1983 commented on #60
I have a few concerns. First would be that envvar being the same url you pass as argument to Redis.new (maybe you did it only for testing, if so, nevermind my comment). The second is the thread-safe buffering features. Is there something I am missing, or doesn't redis-rb already synchronize access to its client across features, thereby already protecting access to the client buffer? Just saying, a

[2015-09-07 06:04] soveran commented on #60
Yes, it's not necesary at all actually it doesn't change anything, because it's not used for any connection. I modified the code so that `Redic.new` doesn't receive the URL. The `url` method is necesary because `Ohm` keeps a cache of which servers have the Lua scripts loaded, and the server URLs are used as cache keys. That's why the wrapper needs this `url` method.

The thread-safe buffering is n

[2015-09-07 12:11] TiagoCardoso1983 commented on #60
Thx for the reply, will do :) I checked the source code for both gems, and I do agree that redic is a much lighter fit for any kind of scenario, redis-rb bloats it a bit by redefining every command. Now, if it would only have an EM/Celluloid adapter... :)

I'll come back with feedback.

[2015-09-07 12:25] TiagoCardoso1983 commented on #60
first try in the console:

[code]

Using it in the thin process is no better:

[code]

[2015-12-16 09:54] u2 opened #204 "Mock redis"
Can you help me?
I wanted to find a gem like https://github.com/guilleiguaran/fakeredis or https://github.com/brigade/mock_redis, but they are designed for redis-rb, I could not find any available gem. So if I want to mock a redis for ohm, how to do?

Thanks a lot.

[2015-12-16 10:09] soveran commented on #204
Hello @u2, I'd love to help you! I usually run all the tests against a real Redis instance running locally. Is there a reason why that approach won't work for you?

[2015-12-16 13:15] u2 commented on #204
I have thought it over, real Redis instance is not a problem.I just had be influenced by my habit.Thank you.

[2015-12-16 13:20] soveran commented on #204
No problem :-) I'll close this issue, but if at any point you need my help just let me know.

[2015-12-16 13:20] #204 closed

[2015-12-22 07:38] u2 opened #205 "Transaction"
Does ohm support transaction? And how to do if I want to write some transaction, any recommend method?

[2015-12-22 16:34] soveran commented on #205
Hello @u2, there was a way to compose transactions in Ohm 1.x, but starting with Ohm 2 the transaction happens directly in the Lua script. Can you tell me more about your use case? Maybe we can figure out something.

[2015-12-23 02:33] u2 commented on #205
I just want something like this:
[code]
But I find that the Ohm::Model#transaction and Ohm::Transaction have been removed.

[2016-01-07 14:56] soveran commented on #205
Yes, it was removed for version 2. But version 1 is still maintained, you can use it safely. The latest release is [1.4.0](https://github.com/soveran/ohm/releases/tag/1.4.0). Just as a side note, there are many users of 1.4.0 out there, so you won't be alone :-)

I will close this issue for now, let me know if it works for you.

[2016-01-07 14:56] #205 closed

[2016-01-15 15:54] soveran commented on #200
@confiks What do you think about letting the object load the attributes and then prevent it from saving any changes if the model and the database are out of sync?

I'm thinking about the best way to handle this issue, and I have basically two ideas:

1. Allow the user to load the attributes and print a message to stderr
2. Same as 1, but prevent the changes to be saved in order to preserve the dat

[2016-01-18 21:45] djanowski commented on #200
I agree that current behavior is too strict, but simply ignoring unknown attributes is not useful for figuring out that you need to clean your database.

I agree that allowing to load the instance is desirable. If I deploy without running the migration first, at least my reads still work. I agree these instances should be read-only and one shouldn't be able to save them.

I don't think we should b

[2016-02-04 15:04] mikeknep opened #206 "Can `MissingID` be removed?"
Is there a reason calling `id` on a not-yet-persisted model throws an error instead of simply returning `nil`? I am using Ohm in a Rails app and some of Rails' form helpers expect to be able to call `id` on the object being created/updated, which of course it assumes is an Active Record model, which will simply return `nil` if it has not yet been saved to the database.

Currently I'm monkey-patchi

[2016-02-04 15:50] soveran commented on #206
The reason why raising that error is convenient is because it allows Ohm to fail as early as possible when you try to use an object that was not saved. The error can arise from comparisons (as you noticed) and from direct calls to `id`, but also from any call to methods that need `object.key` to return a proper value, as `key` in turn calls the `id` method. By raising that error we avoid internal

[2016-02-04 17:15] mikeknep commented on #206
Thanks for sharing your rationale and these resources/suggestions. Scrivener looks pretty neat—I will keep it in mind as we continue to decouple this codebase from ActiveRecord. I'm pretty confident this issue of mine is limited to the form helper, to which we're unfortunately pretty tightly coupled currently, but thanks for pointing out `#key`—I will double check to see if I need to modify that.

[2016-02-04 17:15] #206 closed

[2016-02-04 17:50] soveran commented on #206
Maybe a patch to `key` should be enough for your use case: it should raise `MissingID` if the new `id` returns `nil`. You may still encounter other errors that we are not considering right now, but it looks like it may work. If it doesn't, let me know and I'll help you.

[2016-02-04 21:38] soveran commented on #206
Maybe this should work:

[code]

It tried it and it looks like it will work fine for your use case, and it won't break any other functionality. In fact, it's a change we may consider for a future release.

[2016-02-04 22:11] mikeknep commented on #206
Yeah, that does look like a safer approach for the patch. Thanks!

[2016-02-11 11:13] soveran commented on #206
I'm considering the change in https://github.com/soveran/ohm/commit/02239403dbcb0a53990f4e39df0fd852643b4e08, and thereby I summon @djanowski and @cyx :-)

[2016-02-23 12:30] xanview opened #208 "ERR Error running script (user_script:34: Bad data format in input.)"
I am getting this exception:

[code]

When trying to run:

[code]

The first few values update without issues, but then the remaining ones all fail. This works on my Macbook Pro but throws an exception on the Raspberry Pi. Any ideas?

[2016-02-23 12:37] soveran commented on #208
Hey @xanview, sadly I don't own a Raspberry Pi so I can't try it myself. Which version of Redis are you running?

[2016-02-23 12:48] xanview commented on #208
I'm running: Redis server v=2.8.19 sha=00000000:0 malloc=jemalloc-3.6.0 bits=32 build=665519ce00ddac9b

Any ideas what possible things could trigger such an error? - there is no bad format in the input. Any suggestions how to troubleshoot?

[2016-02-23 13:05] soveran commented on #208
One idea would be to try to reduce the test case as much as possible. For example, what happens if you use a model with just one attribute and try to update it? You can try with the different params, one by one, and detect which one is failing (or maybe they all fail, but we have to find out). Once we have the problem isolated we can check what is the server receiving. Let me know what you find.

[2016-02-23 13:08] xanview commented on #208
I tried to do a begin/rescue block with some more logging and it's throwing this:

[code]

If I run Wireless.find(mac: '04:F0:21:20:2A:FB').update(mode: '0') for example in a separate process, that works without issues. But if I run that as part of the loop, it doesn't - very very strange.

[2016-02-23 13:12] soveran commented on #208
Which version of msgpack are you using?

[2016-02-23 13:15] xanview commented on #208
msgpack (0.7.4)

[2016-02-23 13:37] soveran commented on #208
I just ran the tests with msgpack 0.7.4 and it works fine, but I'm wondering if we are missing something. Can you try with msgpack 0.6.2 instead to see if it works?

[2016-02-23 13:43] soveran commented on #208
Also there was a patch to lua-msgpack from 2015 that wasn't available at the time of Redis 2.8.19. Can you update you Redis server?

[2016-02-23 13:51] xanview commented on #208
Same exception with msgpack 0.6.2 - will try updating Redis.

[2016-02-23 14:25] xanview commented on #208
Same exception with Redis server v=3.0.7 sha=00000000:0 malloc=jemalloc-3.6.0 bits=32 build=b20071b74c2d294c

:( - tearing my hair out a little trying to figure out what is going on.

[2016-02-23 14:30] soveran commented on #208
OK, can you try with a very simple model and see what happens? If you find a simple case that reliably reproduces that error, copy the model here so I can check it.

[2016-02-24 11:04] xanview commented on #208
I have 2 identical models, one "Device" and one "Wireless", the latter is identical to the former with a few extra attributes. For some reason it fails, but the "Device" one does not. This is the diff between them:

[code]

I'm going to keep trying to figure out what is happening. Will update if I make any progress!

[2016-02-25 11:29] xanview commented on #208
I found something that I am able to reproduce in development:

[code]

Any ideas what is going on there? -- the data just vanishes when I update an attribute.

[2016-02-25 11:41] soveran commented on #208
Can you show me the code where you define the `Wireless` model?

[2016-02-25 12:08] xanview commented on #208
Currently I have this:

Device model:

[code]

Wireless model:

[code]

[2016-02-25 12:59] soveran commented on #208
I never use inheritance with Ohm models, and my guess is that what you are experiencing may be related to that fact. Do you have code that I can use to create the models and trigger the error?

[2016-02-25 13:34] xanview commented on #208
I changed the code not to use inheritence and getting the same exception on all the wireless fields :( - The code now is:

Devices
[code]

Wireless:
[code]

Something very strange is going on :(

[2016-02-25 13:37] soveran commented on #208
Can you paste the code where you create the instances?

[2016-02-25 13:55] xanview commented on #208
Sure,

When I run the code, it throws the exception:
[code]

The Lan.find_hosts method returns this:
[code]

[2016-02-25 14:09] soveran commented on #208
Can you show me the code that you run? I'm interested in something I can copy to a file, execute, and get the same result you get.

[2016-02-25 14:21] xanview commented on #208
Oooooh, I made some progress. I managed to reproduce in the command line and then it showed:

[code]

I think maybe this is somehow caused by EventMachine misbehaving in another gem? - since I cannot reproduce it all by isolating it at all, it only happens after doing a network scan.

Ohm doesn't use EM or anything like that though does it?- Any thoughts on the above?

[2016-02-25 14:41] soveran commented on #208
No, Ohm doesn't use EM at all.

[2016-02-25 19:34] xanview commented on #208
That was a red herring, have a look at this:

[code]

So now if I try to write it, it throws an exception:

[code]

However, if I just copy paste the hash and create a new hash like this:

[code]

Then it creates the device without issues!

[code]

What the hell is going on? :/

[2016-02-26 14:47] xanview commented on #208
I found a slightly cleaner solution:

[code]

[2016-02-26 15:41] soveran commented on #208
What I need is a way to reproduce the error. That is, file with a test case that I can run locally, see how it fails and investigate how to fix it. Can you give me the code to replicate the error? You don't have to write a test case or anything like that, just the model definitions, the model instantiation and anything you do afterwards that triggers the error.

[2016-02-27 16:30] xanview commented on #208
Any ideas how? -- I tried to save to a file. Just the process of saving the string to a file and reading the same string back resolves the problem:

[code]

I don't know how to get this string over to you in a way that makes it throw the exception. The only way for you to run the exact code I am running is to read this from a radio using SNMP. Any ideas?

[2016-03-19 23:24] StasKoval commented on #208
Got same error. With ruby 2.3 and hiredis driver - all works fine. But with jruby got error with this :token=>"5c5fdea3ef33abb1821af0d5541534b3"

`RuntimeError (ERR Error running script (call to f_d84093efbb10df1c5995c6b0e7340520973b306d): @user_script:34: user_script:34: Bad data format in input. )`
`ruby -v
jruby 9.0.5.0 (2.2.3) 2016-01-26 7bee00d Java HotSpot(TM) 64-Bit Server VM 9-ea+110 on 9-

[2016-03-19 23:35] StasKoval commented on #208
found a temporary solution

`
class Interview < Ohm::Model
attribute :token, lambda { |x| x.to_json }`

[2016-03-20 11:36] soveran commented on #208
@xanview @StasKoval I have a branch that uses JSON for encoding instead of msgpack. We've had a minor issue in the past with msgpack, and it was solved by locking the version required by Ohm, but in this case it looks like we can't even get a straightforward test case in place in order to reproduce the error and fixit. That got me thinking about trying with JSON instead, as it's also supported int

[2016-03-20 17:42] ProjectMoon opened #209 "Collections/references don't work in modules"
This code causes an uninitialized constant error when run: ``const_get': uninitialized constant MyModule::Model1::Model2 (NameError)`. Everything works as intended if you remove the modules wrapping the models.

[code]

I did find a reference and possible fix to this bug on Google groups: https://groups.google.com/forum/#!msg/ohm-ruby/dEDl9LavbVc/zE8wFunFalsJ

[2016-03-20 19:47] ProjectMoon commented on #209
A possible solution to this in `Utils.const` might be to fall back to the enclosing module of the class by using `Object.const_get` and then try loading the class off that module, and then if that fails, throw an error.

[2016-03-20 21:45] xanview commented on #208
Yes please :)

[2016-03-21 09:08] soveran commented on #208
Great, I just pushed the branch: https://github.com/soveran/ohm/tree/json

You may have to build the gem with `gem build ohm.gemspec` in order to use it. All tests pass, but we'll have to see if it solves the encoding problem you are having. Let me know how it goes!

[2016-03-21 09:32] soveran commented on #209
The traditional solution for this is to qualify the class by including the module's name. For example, you would use `reference :model1, 'MyModule::Model1'` instead of just `reference :model1, :Model1`. Check [this example in the tests](https://github.com/soveran/ohm/blob/master/test/model.rb#L38-L46).

[2016-03-21 11:19] ProjectMoon commented on #209
I did actually try screwing around with something like that, although I was using symbols instead. I tried :"MyModule::Model1", which produced a similar error. Maybe the simplest solution to this is simply to update the documentation (both API and quickstart)?

I do think it would be good to have a bit of magic going on to find the module though. String values aren't able to be caught as easily as

[2016-03-21 14:34] StasKoval commented on #208
Great, all works with branch json.

[2016-03-21 17:57] xanview commented on #208
Working for me too! - Thank you!

[2016-04-13 17:03] soveran commented on #208
@xanview @StasKoval Ohm 3.0.0 is out and it includes this change. Thanks a lot for reporting the error!

[2016-04-13 17:03] #208 closed

[2016-04-13 17:26] xanview commented on #208
Thank you! - No issues since the change 👍

[2016-04-13 19:17] soveran commented on #206
Hey @mikeknep, just a heads up to let you know that this change made it to Ohm 3.0.0. You can read more about that release at https://github.com/soveran/ohm/releases/tag/3.0.0

[2016-04-14 15:11] slowernet opened #210 "nil unique index in Ohm 3.0.0 triggers lua error under Redis unstable"
The switch from msgpack to json seems to be triggering a lua error when an attribute with a `unique` index is `nil`.

[code]

`Car.create` works under 2.3.0, but with 3.0.0:

[code]

[2016-04-14 16:19] soveran commented on #210
@slowernet I'm not able to reproduce it, is that all the code you used? Just in case, can you tell me the Redis version you are running?

[2016-04-14 16:56] slowernet commented on #210
I'm sorry, I should have mentioned I am running Redis unstable. I also do not see the problem on 3.0.7.

[redis-info.txt](https://github.com/soveran/ohm/files/219578/redis-info.txt)

[2016-04-14 18:01] soveran commented on #210
@slowernet Excellent, thanks! I pushed the fix already, you can grab the new gem (version 3.0.1).

[2016-04-14 18:01] #210 closed

[2016-04-14 18:20] slowernet commented on #210
Thank you, @soveran.

[2016-04-18 16:40] phlegx commented on #208
Read here about the this problem and why msgpack fails with Redis: https://github.com/antirez/lua-cmsgpack/pull/44

[2016-04-18 16:56] soveran commented on #208
@phlegx Yes, that caused the first change when we had to lock the msgpack version (https://github.com/soveran/ohm/pull/195#issuecomment-105705002). In the end I think it was better to move away from msgpack.

[2016-04-18 17:48] phlegx commented on #208
@soveran FYI: I have opened an issue here https://github.com/antirez/lua-cmsgpack/issues/51
I need to think whether I will also gone away from it...

[2016-04-20 18:56] slowernet opened #211 "Index keys for floats of form "n.0" are truncated"
If an indexed attribute is assigned a real value with 0 fractional part (eg. 3.0), the attribute is stored in the hash with that format, as expected, but the index key is truncated to an integer (Model:indices:attribute:3). I'd argue that the index key should string match the stored attribute value, as it does for all other real numbers.

IMO this is unfortunate behavior by lua's `tostring`, [here

[2016-04-20 20:11] slowernet commented on #211
I experimented with a bunch of workarounds, including lua's `string.format`, but it's difficult to figure out how to write the format string (and you also have to detect when the attribute value is a float in the first place).

The best solution I have found is using the string literal delimiter [[]] instead of tostring(). But infuriatingly this fails in instances when the value itself contains a

[2016-04-20 20:48] soveran commented on #211
Great catch! I think [this commit](https://github.com/soveran/ohm/commit/743b1ee26cbf0dc2fcd4e3d2d729d2b2d2f7ab68) fixes the issue, can you confirm?

[2016-04-20 22:48] slowernet commented on #211
If there's no performance concern with doing it in Ruby, that seems like a good solution.

I did learn that it's possible to use a variant of the double square bracket delimiter in Lua: adding equals signs between the opening brackets (eg. `[====[`) means that it won't terminate until the matching close bracket is found (`]====]`), similar to heredoc (`<<-EOS ... EOS`) in Ruby. That would seem to

[2016-04-21 06:58] soveran commented on #211
I run some benchmarks and if I remove the `tostring(val)` in Lua and add the `.to_s` in Ruby, I get about the same performance (actually slightly better, but I would blame the inaccuracy of the benchmarks for that tiny difference). Having a contract that the Lua script must receive strings looks like the right approach, given the fact that `tostring` is unreliable.

[2016-04-21 16:01] slowernet commented on #211
Thanks for the fix.

[2016-04-22 10:13] #211 closed

[2016-05-13 09:59] allanxavierm commented on #204
@soveran My test environments doesn't have redis installed, so in that case how can I mock Ohm.

[2016-05-13 10:03] soveran commented on #204
Hello @allanxavierm, can you tell me more about your test environment? Is there a reason why you can't install Redis in there?

[2016-06-16 08:03] soveran commented on #209
I added an explanation about how to work with modules: https://github.com/soveran/ohm#modules

Closing this issue for the time being, but let me know if you find it insuficient.

[2016-06-16 08:03] #209 closed

[2016-06-16 08:07] soveran commented on #200
@djanowski I think that's the way to go.

[2016-07-13 20:34] r4do commented on #204
Hi @soveran, I have similar problem - can't use real redis instance on my ci server because there are very important data in redis. So if I'll corrupt them, I'll have big problems with that data.
Any advices how can I mock redis for Ohm?

[2016-07-13 21:46] soveran commented on #204
Where do you run your CI environment? I ask because usually you can start a redis-server instance (without your production data) and run the tests against it. Maybe we can find a solution for your CI server.

[2016-07-14 08:52] r4do commented on #204
It's my production server. Running second redis instance makes problem to start it.

[2016-09-21 07:32] ababich opened #213 "Redis Cluster support"
Hello! Is there any Redis Cluster support planned or tried?
First of all I mean proper group operations handling via corresponding key(s) composition and preventing incorrect attempts

May be you have some posts with having this tried/tested with Ohm or some plans about this?

Thanks!

[2016-09-22 06:10] scalp42 commented on #200
@djanowski any chance you could share examples of the different types of migration you mentioned?

I think it would be very useful if it was added as some kind of doc @soveran, what do you think ?

"To rename attribute `foo` to attribute `bar`, here is what your migration would look like" etc etc

[2016-09-22 22:26] scalp42 opened #214 "ERR unknown command 'url'"
Hi folks,

I'm testing Ohm with Sinatra and I'm running into an issue using `redis-rb`:

[code]

Redis logs:

[code]

Sinatra logs:

[code]

It appears to be working correctly until I uncomment `User.create(first_name: params['first_name'] )`:

[code]

[code]

Any ideas ? Thanks in advance for helping 🍶

[2016-09-23 07:30] scalp42 commented on #204
Same issue here, hoping there's a way to pass a different driver to the connection like this:

[code]

[2016-09-28 05:30] scalp42 commented on #89
@joseairosa any chance you could share some code using Ohm with redis-rb ? Reason I'm asking is that I keep seeing this error #214

Thanks in advance for the help!

[2016-09-28 07:05] soveran commented on #214
Hello @scalp42, sorry for the delay (I was on a trip). The Redis client has to be compatible with [Redic](https://rubygems.org/gems/redic) in terms of API, which is not the case for redis-rb. Did you sorted it out?

[2016-09-28 07:07] soveran commented on #89
@scalp42 Did you run into any issues using Redic instead of redis-rb? I'd like to investigate what to do for your use case.

[2016-09-28 07:09] soveran commented on #214
I'm closing this issue as using a different Redis client is not the intended use, but please reply to this thread so we can figure out what's best for your use case.

[2016-09-28 07:09] #214 closed

[2016-09-28 07:11] soveran commented on #213
Hello @ababich, there are no plans for Redis Cluster support but it's something we could investigate in the future. At first sight it looks like a tough problem. We could embed key tags to make sure all the  keys end up in the same node, but that kind of defeats the purpose of using Redis Cluster.

[2016-09-28 10:04] soveran commented on #200
@scalp42 Agreed! I'll work on it.

[2016-09-29 00:05] scalp42 commented on #89
@soveran thanks for the feedback, I switched to using Redic as you mentioned in https://github.com/soveran/ohm/issues/214#issuecomment-250089076 as I could not make it work with redis-rb.

I'm trying to figure how to convert specs for redis-rb to Redic using [fakeredis](https://github.com/guilleiguaran/fakeredis) for example:

[code]

I feel there's a strong assumption that you need to have a Redi

[2016-09-29 00:08] scalp42 commented on #200
@soveran just to clarify, I'd totally love to help but I just don't have the knowledge (or not at a point where I need to run migrations yet) to do.

@djanowski list of migrations he had to run in the past sound like it's covering a lot of cases and would be awesome to see them.

[2016-09-30 23:06] scalp42 opened #215 "Tagging example"
In the [tagging example](https://github.com/soveran/ohm/blob/master/examples/tagging.rb), we can find posts having a certain tag with this:

[code]

Now how would someone be able to get the posts matching a tag (pretty much reversed logic) ?

I'm assuming you would need a reference in the `Tag` model to the Post model but I can't quite figure it in the Ohm way.

Any chance it could be added to the

[2016-10-01 06:45] soveran commented on #215
@scalp42 I don't use a `Tag` model, so for me if I have a tag `t`, I do `Post.find(tag: t)` as you described. What kinds of features do you expect a `Tag` model to provide? I see you want to have counters, for example, and a reference to `Post`. Would it be polymorphic? What about new tags: are users allowed to create new tags or they are created by you beforehand? There are ways to implement all

[2016-10-01 23:33] scalp42 commented on #215
I think I'm trying to figure the many-to-many relationship with Ohm in the case of Post having multiple Tag and Tag belonging to multiple Post if it make sense ?

Thanks a lot for the quick answers as always, greatly appreciated.

[2016-10-04 11:13] ababich commented on #213
To my understanding only index-related keys should be touched
Also, LUA scripts should provide support for save actions

[2016-10-04 17:51] soveran commented on #213
I have an idea that may work. I'll get back to you tomorrow after testing it a bit.

[2016-10-11 08:04] soveran commented on #213
@ababich I've tried Ohm with Redis Cluster and it works after adding key tags. There's a branch called `namespace` with code that you can try, but you can also check the code online and make the changes by hand as there's nothing fancy going on. The idea is to change the `name` of a model, so that all keys generated include a given key tag. You can read more in the documentation for [Ohm::Namespac

[2016-10-11 10:11] ababich commented on #213
I think it is more important to tag "relation", not model
I will scan all multi-keys operations for possible issues

[2016-11-01 18:54] xanview opened #216 "Device.find(camera_id: nil) does not find devices"
[code]

I'm expecting it to find the 4 devices where camera_id is nil, but it's not finding anything. Any ideas?

[2016-11-13 16:57] soveran commented on #216
Hey @xanview, sorry for not replying earlier. I was on a trip and didn't have time for a proper answer. I think at some point, in earlier versions, it was possible to index `nil` values. But then we decided against it because if you have a lot of nils (which is a common scenario), then the indices created are huge. What you can do is to force a value so that you can find it later (for example, you

[2016-11-18 16:43] xanview commented on #216
Hi Soveran,

Thank you for the reply. Sure that makes sense not to index nil by default, but maybe it could be an optional option, something like:

[code]

This way you have the best of both worlds? - without resorting to hacks such as a "nil" string value.

[2016-11-24 09:08] soveran commented on #216
I explored that solution, but in the end I didn't find it satisfying. First, a bit more about my previous proposal: instead of using the string `"nil"` you can use some relevant value, for example `"available"`, or `"unassigned"`, or anything that makes sense to the problem domain. Using `"nil"` indeed looks like a hack, but I think using something relevant is the best solution to this problem.

R

[2016-11-27 15:36] xanview commented on #216
I can see what you're saying, but in terms of other databases, I'm used to doing this with Mongo (Mongoid):

[code]

You're right, if no index is specified, it will have to scan the entire database, but at least it gives some predicted behaviour. I see what you're saying though, so maybe it should throw an exception when searching for nil at least? - it can even link to this issue so the person ha

[2016-11-28 20:15] soveran commented on #216
Two great ideas right there: first, raise an error if `nil` is used in a filtering operation, and second, the idea of providing a lot of help in the error message. I'll work on it, thanks a lot!

[2016-12-01 16:26] soveran commented on #215
@scalp42 Looking back at this issue, did you find a way to do what you needed? If not, let me know and I'll work on an example.

[2016-12-14 05:01] scalp42 opened #217 "Redis Sentinel support"
Just like , I noticed that the underlying client does not support Sentinel (I discovered this too late unfortunately).

Not sure if redis-rb code could help: https://github.com/redis/redis-rb#sentinel-support

Also I'm not sure if I should open an issue here or in redic.

Any pointers would be much appreciated 🍶

[2016-12-14 05:29] scalp42 commented on #215
DISCLAIMER: I just wrote something real quick (haven't tested)

Let's assume a vendor (Google), having multiple users subscribed to its paying products (Youtube, Music, etc), the models would like like this:

[code]

Now let's create an user, a vendor and a product to match the description above:

[code]

Now we want to have our user John subscribed to Youtube:

[code]

Let's assume that we have d

[2016-12-14 17:56] soveran commented on #215
@scalp42 That's excellent! Thanks!

[2016-12-16 07:50] soveran commented on #217
@scalp42 I'm tinkering with something related, I will update you soon :-)

[2016-12-16 23:54] scalp42 commented on #217
@soveran amazing news and great timing 😅

[2016-12-29 02:16] janjiss opened #218 "Object attributes do not get nullified properly"
Hello, I noticed that models `#load!` method does not actually nullify value if that value has been nullified on other instance or on other thread. It looks like that in the implementation, when you set something to nil, it removes the key from the db, but when we try to call `#load!`, since the key is not there, it does not update the attributes on the models instance.

Here is a code snippet:
[c

[2016-12-29 08:20] soveran commented on #218
@janjiss Great catch! I already have a fix and I'll release it later today. Thanks!

[2016-12-30 08:28] soveran commented on #218
@janjiss I just released version 3.1.1, can you verify that it solves this issue? Again, thanks a lot for your help!

[2016-12-30 20:35] janjiss commented on #218
@soveran Thank you for such a fast response! I can verify that the issue has been fixed

[2016-12-30 20:35] #218 closed

[2017-01-23 01:39] scalp42 commented on #217
Not trying to be pushy but really wondering you have any updates 😇  @soveran

ping @arnaud036 also

[2017-01-23 16:37] soveran commented on #217
Hey @scalp42, sorry for the delay. I have something that may be ready for you to try. I'll finish it and upload it today, and I'll ping you once it's up.

[2017-01-23 20:51] scalp42 commented on #217
Again no worries at all, I'm not expecting anything to be clear (but would definitely ease a lot of issues) and thank you for all the work with Ohm in general!

[2017-01-23 22:17] soveran commented on #217
@scalp42 I just pushed an alpha version of [Redisent](https://rubygems.org/gems/redisent) (code [here](https://github.com/soveran/redisent)). I have to try it more with Ohm, and make sure it works perfectly. I'll dedicate time to it in the following days and I'll update you if I make any progress.

[2017-02-19 05:16] scalp42 opened #220 "Models load order causing reference errror"
Hi @soveran

Running into a chicken-egg problem (but I could be doing something wrong).

Assuming you have a folder `models` and you load two models depending on each other (reference/collection):

Under `models/`:

[code]

Assuming you load the models:

[code]

I'm running into the issue where the `reference :user` in the `Token` model doesn't "exist" yet when being required:

[code]

What would

[2017-02-19 05:22] scalp42 commented on #220
Just realized my mistake:

[code]

vs

[code]

[2017-02-19 05:23] #220 closed

[2017-05-16 02:20] lostpupil opened #222 "There is a problem with create."
ERR unknown command evalsha.
I dont know this is because I am using aliyun redis, Or Is there any workaround to avoid this problem.

[2017-05-16 06:21] soveran commented on #222
Hello, can you point me to aliyun redis?

[2017-05-17 09:46] lostpupil commented on #222
@soveran It's okay, aliyun said they do not support evalsha yet. So I installed redis yesterday.  There might be a issue if using ohm in cluster.

[2017-05-17 09:52] lostpupil commented on #222
Also I am notice a odd situation, there might be another issue

[code]
I wrote a class which will init a status before create. But I have a problem when I am update that

[code]

And I will get something like

[code]

I will get 0 at first place when I do Node.all.to_a, and I am not sure if I am updated that value.

[2017-06-08 01:30] #222 closed

[2017-09-11 19:40] chriso0710 opened #223 "Model.find for attributes with long integers fails"
Hi all,

I have the following model definition

[code]

I understand that ohm translates all attributes to strings. But when I try to find a message with a very large integer for mid, the find fails.

Small integers and strings work
[code]

This does not

[code]

What am I doing wrong?
Or is that a bug? Do I explicitly have to cast all fields to string before saving the model?

Thanks and best reg

[2017-09-11 19:49] chriso0710 opened #224 "Finding parent for child objects in list?"
Hi,

I have the following model definition:

[code]

Message does not reference Project (which was not needed until now). Is there any chance to simply get the parent Project from a Message child object which is in the messages list?
What would be the best practice to get a reference from a Message object in the list back to the parent Project?

Thanks
Christian

[2017-09-11 20:19] soveran commented on #223
@chriso0710 Hey! It seems to be working for me. Can you tell me which version of Ohm you are using? If you are using the latest (3.1.1), can you tell me if there are other gems you are loading that may interfere?

[2017-09-11 21:00] soveran commented on #224
Each `Message` will reference just one `Project`, right? If that's the case, I think the best would be to add a reference to each `Message`. With that reference in place, you can even get rid of the list at some point. The first step would be to define the reference in `Message`:

[code]

With the reference in place, you will have to iterate over each project's messages and populate the references

[2017-09-12 08:41] chriso0710 commented on #223
Good point. I am still using version 2.3 for all environments.
2.3 is running great here and until now I had not seen any reason to update. I am somewhat hesitant (you might say conservative :-) to make the switch to 3.x and I did not have the time to test the update and migrate the data.

Was this a known bug in 2.3? Might be a reason for updating... although it could easily be worked around by c

[2017-09-12 08:49] chriso0710 commented on #224
Great stuff @soveran. Thank you very much for your detailed answer.

I already guessed that a simple reference might be best practice to point to a Project from Message.
But I do not see reason to further drop the list and use a collection instead. Lists are great for ordered queues and thats the reason I am using them. Any good points (other than syntactic sugar) to migrate to collections?

[2017-09-12 09:09] soveran commented on #223
It could be a serialization problem from Msgpack, which was in use in version 2.3. I can help you with the migration to 3.1.1 if you want. The first step would be to just install it in a branch of your project and check what errors you get.

[2017-09-12 09:43] soveran commented on #224
I usually go for lists and sets when a given element belongs to more than one collection, and only if there's no benefit in modeling it with references. Often times you can model the same problem in at least two different ways: for example, imagine sets of users and projects, where a user can be assigned to different projects. Each project could have a set of users, with the downside that given a

[2017-09-12 11:15] chriso0710 commented on #224
Thank you! I think I will stick to my list for now...

[2017-09-12 11:44] chriso0710 commented on #223
I read the release notes of 3.0.0, which dropped msgpack and changes the internal JSON enconding. Sounds serious, but I still might give it a try.

Are there any other important changes in 3.x I should be aware of?
What kind of trouble with migrating existing model data from 2.3 should I expect?
I searched the issues for any update experience or update trouble, but could not find any, which might

[2017-09-12 11:47] soveran commented on #224
Perfect! I will close the issue but maybe we can copy this info to the wiki.

[2017-09-12 11:47] #224 closed

[2017-09-12 12:35] chriso0710 commented on #223
Just a quick addition:
I am also using Ohm::Callbacks from https://github.com/sinefunc/ohm-contrib (last commit in 2010!)

[2017-09-12 13:20] soveran commented on #223
That repo was moved to https://github.com/cyx/ohm-contrib, and I have plans of moving some functionality to Ohm itself. I think that particular feature, the callbacks, is a great candidate to become part of Ohm.

[2017-09-12 13:53] soveran commented on #223
I will close this issue because it's solved in the latest version, but keep commenting here if you need help with the migration to 3.1.1.

[2017-09-12 13:53] #223 closed

[2017-11-01 13:34] sirscriptalot opened #226 "Public API for @_memo?"
Hi all,

I was curious what you all thought about making an accessor for @_memo? I personally use it to memoize expensive methods and finders like what is done internally with references. It isn't too important, I just feel a little uncomfortable depending on a private variable like I am and also don't like patching `reload_attributes` to add a new hash that does the same thing as memo.

Thinking

[2018-02-04 20:57] krainboltgreene opened #227 "ConnectionPool support"
Hello all, looking to see if we can get connection_pool support?

[2018-02-22 12:34] chriso0710 opened #228 "Race condition on list delete"
Referencing #224 here, so the following applies to the model described there. And I am still using Ohm 2.3 :-|

I might have a race condition because of network lag on deleting from a list.
This happens only under heavy load, i.e. multiple web requests per second.
My app has multiple services running. In one of the services messages will be deleted from projects.

This is the delete method in ```P

[2018-02-22 13:46] soveran commented on #228
@chriso0710 Thanks for reporting this. There's a synchronization mechanism in place but it's only a mutex for same-process concurrency. I'll work on this and let you know if I find any improvement.

[2018-04-09 11:56] rgaufman opened #229 "connection.rb:11: [BUG] Segmentation fault at 0x0000000000000000"
I'm not sure if this is ohm or redic related, when I run .first or [0] I get a segmentation fault, e.g.

[code]

The full details and log file is here: https://github.com/amakawa/redic/issues/12

Any ideas why this is happening?

My Ruby/Redis/Redic/Ohm versions are:
- ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]
- Redis server v=4.0.9 sha=00000000:0 malloc=libc bits=64 build=e0c8d3

[2018-04-09 12:31] soveran commented on #229
Hello, thanks for the report. Do you have hiredis installed?

I was unable to reproduce it with ruby 2.5.0 but I'm upgrading it right now to test against the version you have.

[2018-04-09 12:34] soveran commented on #229
OK, I could reproduce it with ruby 2.5.1p57, now I have to find out what's going on :-)

[2018-04-09 12:36] soveran commented on #229
Can you try reinstalling hiredis? It should be `gem uninstall hiredis` and then `gem install hiredis`. It solved the problem for me, let me know how it goes.

[2018-04-09 12:45] rgaufman commented on #229
That worked, I also tried installing ruby2.6.0-preview1 which worked too :)

[2018-04-09 13:02] soveran commented on #229
Excellent! Yes, it was scary but it has to do with the compiled extension of hiredis. I guess many users will run into the same issue, so thanks a lot for bringing this up.

[2018-04-09 13:02] #229 closed

[2018-04-17 11:25] alexey opened #230 "Search by part"
Hello,

I am trying to implement search that match part of value, for example:
`set = MyOhmModel.find name: 'Alexe'`

I tried to use `.combine` and `.union` methods and the `*` at the end of searched value, but no luck getting results that match part of string..
Is this something doable ?

[2018-04-17 11:46] soveran commented on #230
Partial matches are not doable unless you create an index, but such index would probably use a lot of memory. My advice would be to use something else for full text search with partial matches. You can still use Ohm, but you would keep a full text search index somewhere else.

[2018-04-17 11:46] #230 closed

[2018-04-24 03:20] Cifer-Y opened #231 "Does Entry.find has a default sort strategy?"
Just curious about that.

If I find by Entry.find(xxx => 3), there is three or more entries in result,
does the result has default sort strategy?

such as sort by id asc or something else?

[2018-05-11 13:02] #226 closed

[2018-05-11 13:12] sirscriptalot opened #232 "Feature Suggestion: `Ohm::Model::fetch` for uniques?"
Hi all,

I was curious if anyone thought a method that fetches records by a unique and an array of values would be useful on Ohm::Model? It would look something like...

[code]

There is a point in the application I'm working on that uses something similar, and just wanted to share incase you all might find a generic version of it it useful for everyone.

[2018-05-21 13:42] rgaufman opened #233 "Rails 5.2.0 - When Oj integrates with Rails, it modifies JSON and breaks Ohm"
Hi there,

I have this code:

[code]

When I run it in plain pry, it works correctly.

[code]

However, when I run it in rails c, I get:
[code]

I modified /usr/local/lib/ruby/gems/2.5.0/gems/redic-1.5.0/lib/redic.rb to log the args being passed and in the case of plain Pry, it's doing this:
[code]

In the case of running from Rails c, it's doing this:
[code]

The problem started with Rails 5.2.0

[2018-05-21 13:53] soveran commented on #233
Can you connect to the Redis server (maybe with redis-cli) and run the `MONITOR` command? That way we can see what Redis is receiving.

[2018-05-21 14:01] rgaufman commented on #233
Sure thing, this is what Redis receives:

[code]

[2018-05-21 14:08] soveran commented on #233
OK, and can you do the same without Rails?

[2018-05-21 14:13] rgaufman commented on #233
Without Rails:

[code]

[2018-05-21 14:18] soveran commented on #233
OK, thanks. My first guess is that Rails is modifying `String` or something from Ruby core that alters the behavior of `Nest`. I don't use Rails, but I will try install `ActiveSupport` and see if it alters the way `Ohm` works.

[2018-05-21 14:28] soveran commented on #233
Ah, good that you tried that. I just tried something similar but I did `require "active_support"`, I wasn't aware of the `/all`. I also tried to install Rails but I couldn't do it because it can't compile `nokogiri`. Is there a way to install Rails without `nokogiri`?

[2018-05-21 14:54] soveran commented on #233
Forget my last message, I was able to install Nokogiri and then Rails. I'll try to reproduce the error now.

[2018-05-21 15:07] rgaufman commented on #233
Thank you :)

I'm looking more into this as well, I noticed that this works in Rails:

[code]

So I wonder why specifically looking for first or using [0] doesn't:

[code]

[2018-05-21 15:33] soveran commented on #233
I have a file where I put `require "rails"`, but I'm not sure it's having any effect. What would you suggest as the minimal code that will allow me to reproduce the error? Should I create a Rails app?

[2018-05-21 15:39] rgaufman commented on #233
That is a good idea! - I just tried to create a blank rails app, added ohm to it and it seems to work. Let me narrow down specifically what is causing this.

[2018-05-21 15:41] soveran commented on #233
Cool, I will wait a bit to see if you can narrow it down. Maybe you can copy the app and start removing things. Thanks a lot for working on this!

[2018-05-21 16:06] soveran commented on #231
Yes, the default is `id asc`!

[2018-05-21 16:06] #231 closed

[2018-05-21 16:14] soveran commented on #232
I love the comment about not being a fan :-)

I think this is interesting. Are you still using it?

[2018-05-21 16:31] rgaufman commented on #233
I found the culprit!!

One of the gems had this in it:

[code]

Which optimises the json parser, but I guess breaks Ohm!! - Any ideas how to make Ohm work with Oj? < https://github.com/ohler55/oj

[2018-05-21 16:38] sirscriptalot commented on #232
There is a couple of points I am using something very similar to what I wrote above. Basically the app has some light social features and an example where it can be useful is to look up a collection of users via unique nicknames instead of id.

[2018-05-21 16:53] soveran commented on #233
Can you try with this patch?

[code]

I can also create a branch if that's easier for you. Let me know.

[2018-05-21 21:51] rgaufman commented on #233
Hmm, strange, I applied the patch and I'm still getting:

[code]

[2018-05-22 07:46] soveran commented on #233
I created a Rails app and was able to reproduce the error. I have a fix already, but I'm afraid I will have to release a new version of Ohm. Before releasing it, I'll make sure I've got the right implementation.

[2018-05-22 08:43] rgaufman commented on #233
Thank you very much for looking at this, please let me know if you want me to test anything :)

[2018-05-22 11:31] soveran commented on #233
Here's an example of the issue we have:

[code]

When `Oj` has to dump an object that inherits from `String`, it behaves differently than what `JSON` does. That shouldn't be a problem, but sadly `Oj` modifies `JSON` when it's integrated with Rails. Note that when I called `Oj.mimic_JSON`, the behavior was corrected.

Something you can try in your code is to call `Oj.mimic_JSON` to see if it solves

[2018-05-22 13:07] soveran commented on #233
There's something you can try, I think it can be the final workaround.

Modify `Nest` and add this method:

[code]

If it works for you, I will release a new version of Nest with that change.

[2018-05-22 15:42] rgaufman commented on #233
That works beautifully, thank you!!

[2018-05-24 12:50] rgaufman opened #234 "Ignoring Redis fields that are missing in the model?"
When I change my model, any fields that are still present in Redis cause a NoMethodError, e.g.

[code]

Is there any way to get Ohm to ignore any fields from Redis that are not in the model? - or is there some other recommended strategy to handle this?

[2018-06-03 18:24] akaia-shadowfox opened #235 "Getting last id"
Is there a method for last id getting?
Something like `User.last_id`, more low-cost (and low-level) than current `User.all.ids[-1]`

[2018-06-03 21:30] pote commented on #235
The last ID [is stored as a separate Redis key](https://github.com/soveran/ohm/blob/master/lib/ohm/lua/save.lua#L40) at `<ModelName>:id`.

You could get the last ID with a Redis GET:

[code]

[2018-06-03 22:54] katecanaveral commented on #235
Thanks for answer, it helps in my case.
I think it might be nice feature if that functional be realized as OHM model method instead of redis call.

[2018-06-03 22:55] katecanaveral commented on #235
Can you add feature request label?

[2018-06-04 07:07] soveran commented on #235
@katecanaveral I just added the label. Not sure if I prefer `Model.id` or `Model.last_id`. Or maybe we just need to document how to get that value from Redis. What was your use case? You can leave your comments here, I guess the next version can include an improvement on this area.

[2018-06-04 09:37] soveran commented on #234
@rgaufman I will work on this. I did some experiments in the past and it's true that those cases should be handled in a better way.

[2018-06-04 12:26] katecanaveral commented on #235
My case is using last user id for next id prediction, i use it in next username.

[code]
`User.all.ids[-1].to_i` is bit laggy, sometimes i was getting username 'user_30',
although last user id was >40  0_o

About method `Model.last_id` (i guess `.id` is implicit name), it's very usable and graceful alias for `Ohm.redis.call('GET', 'User:id').to_i`

[2018-06-05 08:15] soveran commented on #217
This should be available in Redisent 0.1.0.

[2018-06-05 08:15] #217 closed

[2018-06-15 23:11] katecanaveral commented on #234
`irb(main):012:0> Transaction[3].remove
NoMethodError: undefined method 'timestamp=' for #<Transaction:0x0000561b588b76e8>
`
I have the same problem when try to delete object with the attribute, deleted from model before

[2018-06-17 17:35] pote commented on #234
Maybe just having more explicit exceptions that suggest the standard solution to the problem would be enough?

@katecanaveral this happens because you'd have to set to nil the attribute in all objects **before** you remove `attribute :timestamp` from your code, since the `Transaction#timestamp` and `Transaction#timestamp=` methods are defined by Ohm when `attribute` is present.

If I'm not mistake

[2018-06-17 23:45] lynnfaraday opened #236 "Ohm on Windows"
Using Ohm 3.1.1.

I was attempting to get a project running with Ruby on Windows, and Ohm is having trouble accessing the database.   The error is `A non-blocking socket operation could not be completed immediately. - read would block`.

This happens on all calls, as demonstrated by the simple 'set' from the example:

[code]

If I read/write using Hiredis directly, it works OK.  The problem seems

[2018-06-18 03:17] katecanaveral commented on #234
@pote thanks for the solution

[2018-06-25 20:31] pote commented on #235
@katecanaveral regardless of the last id feature, I'd want to comment on a possible source of bugs with your approach.

If timed just right, you might get an incorrect `name` attribute in your users, since another user might be created between you calling `GET User:id` and creating the new user, which is a difficult bug to reproduce that is sure to cause you some pain if/when it happens.

But also

[2019-01-28 16:02] chriso0710 opened #237 "Infrequent and weird #<RuntimeError: NOAUTH Authentication required> in heroku/rediscloud environment"
Hi guys,

ohm has been working great (still using version 2.3) in my Sinatra app for years.

But I'm seeing some weird periodic error in a heroku environment. I already opened a ticket with heroku, but they have no idea at the moment, other than switching to a different redis client.

My app uses the Redis Cloud heroku addon. The app does a redis fetch for every request it gets. Redis Cloud has al

[2019-01-28 20:48] soveran commented on #237
I know what's happening from the point of view of the server, and I think the client should retry. I'll check this and get back to you.

[2019-01-28 22:14] soveran commented on #237
Is there a chance for you to try with the latest version?

[2019-01-29 05:42] chriso0710 commented on #237
Yeah, I know. I still have the update on my todo list, see #223. But ohm has been running smoothly most of the time, so I was delaying the update.
Looks like I need to tackle this quite soon. Though it still might take some days until I find the time.

Do you have any ideas to mitigate the error for 2.3 in the meantime?

[2019-01-29 09:31] soveran commented on #237
Can you tell me which version of Redic you have installed?

[2019-01-29 09:41] chriso0710 commented on #237
redic 1.5.0

[2019-01-30 09:24] chriso0710 commented on #237
:-) No time, too much stuff going on.
But will do it for our stage environment.

[2019-01-30 09:31] soveran commented on #237
I had troubles yesterday installing msgpack, needed for Ohm 2.3.0. And I was thinking about just that: upgrading Ohm in staging to see how it goes. I wasn't able to reproduce it with the latest version, so that would be one idea. I can as try again with msgpack later if your experiment fails.

[2019-01-30 09:34] chriso0710 commented on #237
Thank you @soveran, I will keep you posted.

[2019-01-30 17:19] chriso0710 commented on #237
I did the gem update (ohm 3.1.1, redic 1.5.1) and a lot of my tests started to fail immediately.

The reason seems to be the following. I have this model:

[code]

In ohm 2.3 this worked

    User.find(uid: "409590").first

and returned a valid user object.

In ohm 3.1 the same command fails

    User.find(uid: "409590").first

and returns nil, which breaks my tests.

I have to do a
[code]
to get

[2019-01-30 19:52] chriso0710 commented on #237
Similar problem with ohm3:

My app uses
[code]

But correct size gets returned only with
[code]

[2019-01-31 08:47] soveran commented on #237
Regarding `User.find(uid: "409590").first`, it may have to do with how `nil` values are handled when indexing and the changes between the two versions you are testing. You may need to iterate over all objects and save them so that the indices get updated.

[2019-01-31 08:48] soveran commented on #237
(If that's not the case, let me know. I'm offline a lot these days and until February 6th, but I'm following up on this issue every morning.)

[2019-01-31 09:01] chriso0710 commented on #237
I do not have nil values for the field uid in my data. Nevertheless I saved all objects to rebuild the index.
But the problem remains: The first method on the find always returns nil.

[2019-01-31 09:09] soveran commented on #237
OK, I may need to see the definition of your model. If you want to keep it private, contact me by email.

[2019-01-31 09:17] chriso0710 commented on #237
Full ohm definition, without any methods:

[code]

[2019-01-31 09:32] soveran commented on #237
Cool. I created some instances and the result is what I expected. Can you create some instances that will allow me to reproduce the error?

[2019-01-31 09:56] chriso0710 commented on #237
This is what I get in irb:

[code]

[2019-01-31 10:11] soveran commented on #237
If I do exactly that, I get the right results. If you try that after running `FLUSHDB`, does it work?

[2019-01-31 10:23] chriso0710 commented on #237
No, sorry, now it gets weird. I have the same problems with a totally empty DB.
I'm using redis 2.8 locally on a Mac. Have not changed anything on the server.

[code]

[code]

[code]

Thanks for your help BTW!

[2019-01-31 11:07] soveran commented on #237
I've just tried with that same version (2.8.24) and got the right results. Try to run this file:

[code]

[2019-01-31 11:11] chriso0710 commented on #237
Yep, this works!

[code]

Only difference seems the

    Ohm.redis.call("SCRIPT", "FLUSH")

[2019-01-31 11:16] chriso0710 commented on #237
But back in my irb console the problem returns. Maybe it has something to do with json gems or model methods?

[code]

This is my initialize method in the User class. Looks harmless to me:

[code]

[2019-01-31 12:03] soveran commented on #237
Can you try flushing the DB and the scripts when you enter IRB?

[code]

[2019-01-31 12:03] chriso0710 commented on #237
We are getting closer. I think I found the reason for the error. I am requiring

    require 'active_support/all'

because I am using methods from active_support, although I am not using rails for this project.
I think this must have something to do with JSON processing in active_support.

[2019-01-31 12:32] chriso0710 commented on #237
Yes, without active_support/all it all works! Thank you very much for your help so far.
Unfortunately I need active_support. Do you have an idea how to prevent active_support interfering with JSON operations?

[2019-01-31 12:34] soveran commented on #237
I guess it is overriding `to_json`, but we can track down the problem. Which version of activesupport are you using?

[2019-01-31 13:03] soveran commented on #237
I remembered something similar that was fixed a while ago: https://github.com/soveran/nest/issues/7

[2019-01-31 13:05] chriso0710 commented on #237
Still using an old version: activesupport (3.2.22.5)
20+ comments later the original problem seems to turn into some kind of dependency hell... That's exactly the reason I was hesitant with updating ;-)

[2019-01-31 13:16] chriso0710 commented on #237
When doing this after requiring active_support it works again:
https://stackoverflow.com/a/12324793/2520015

This might be a somewhat reasonable solution for me...

[2019-01-31 13:23] soveran commented on #237
Try this, first locate `Nest`:

[code]

Then modify it and add this method:

[code]

Retry after that and let me know if it works.

[2019-01-31 13:35] soveran commented on #237
Great, I will check if that change doesn't interfere with anything else.

[2019-01-31 13:50] chriso0710 commented on #237
Thanks again @soveran for your help! That was fantastic.

I'm going to run my tests again and then push to the staging environment at heroku to see if this solves the original NOAUTH error.

[2019-01-31 13:53] soveran commented on #237
I just pushed a new version of Nest with that change. I'm pesimistic about this change solving the NOAUTH error, but in any case it feels like we are making progress :-)

[2019-01-31 13:54] soveran commented on #233
The change was released with Nest 3.1.2. Thanks a lot!

[2019-01-31 13:54] #233 closed

[2019-01-31 14:01] soveran commented on #236
I've been postponing this issue to see if I can get some insight, but as I don't have access to a Windows box I have no idea what to do. Do you know someone Windows savvy who could take a look at this issue?

[2019-01-31 14:32] soveran commented on #236
Yes, that's a good idea. Let me know how it goes :-)

[2019-01-31 14:32] #236 closed

[2019-01-31 14:36] lynnfaraday commented on #236
I was suggesting _you_ do that :)   Hiredis works just fine on its own; it's only when I try to use Ohm that there's an issue.  I was just suggesting that if you want to fix it you might reach out to the Hiredis folks for help/ideas, since it might be a problem with the way that Ohm is _using_ Hiredis.

[2019-01-31 14:58] soveran commented on #236
@lynnfaraday Ah, sorry! I misunderstood what you said. I think we should isolate the issue and report it to the hiredis team.

Can you try to run this code?

[code]

Make sure you have Redis running on localhost, port `6379`.

[2019-01-31 16:15] lynnfaraday commented on #236
Here's the output of my testing showing the different results for

1) Using Ohm directly
2) The code you asked for
3) Using Hiredis through IRB

Since Hiredis is successful in IRB but not in a ruby script running the exact same commands, it might actually be a Hiredis issue.  I'll leave that between you and them :)

[ohm.txt](https://github.com/soveran/ohm/files/2818088/ohm.txt)

[2019-02-01 08:02] soveran commented on #236
Yes, I guess you are talking about this issue: https://github.com/redis/hiredis-rb/issues/32

Indeed the C extension is not supported, but the pure Ruby version should work. What is needed is someone willing to put the work and fix any errors, and that person most likely should have access to Windows. For me, the nature of open source is that each will try to solve their problem and share the solu

[2019-02-01 11:36] lynnfaraday commented on #236
There are actually a half-dozen references in issues and StackOverflow questions about hiredis not being supported on Windows.

Nevertheless, I copied my report over to an issue on hiredis-rb.  I expect they're going to reiterate that Windows is not supported, but I could be happily surprised.

Incidentally, the redis-rb library works just fine.  If you wanted to make Ohm use that (perhaps as a co

[2019-02-01 11:44] chriso0710 commented on #237
All tests are successful.
I pushed the update to our stage env yesterday evening. NOAUTH error has not been seen yet.

[2019-02-02 08:34] soveran commented on #236
Thanks a lot for reporting the issue, I'll get the notifications. I will investigate a bit if I find some time, I'm quite busy lately.

[2019-02-12 16:08] soveran commented on #237
@chriso0710 Have you run into any issues yet? I suddendly remembered and was wondering about what happened.

[2019-02-12 17:26] chriso0710 commented on #237
Thank you for asking.
No issues so far. Currently the ohm update is installed only in the stage environment. Not in production, which gets a lot more requests. Will probably take some weeks of testing before we move the update into production, though...

Do you have any idea what exactly could have caused the NOAUTH error in the 2.3 release?

[2019-02-19 03:11] lynnfaraday opened #238 "Deleted Items Remain in Set"
It seems that deleted items stick around in a set, and I wouldn't expect them to.

- Say I have a model X, and another model Y which contains a set of X's.
- I add a few x's to the set, so now it contains [ X1, X2, X3].
- If I delete object X1, it seems to remain in the set in some kind of deleted state.
- Now if I do some operation on Y that affects all its X's, object X1 can come back to life --

[2019-02-19 07:40] soveran commented on #238
That's a downside of how it's implemented: sets and lists are intended to be handled manually. In some cases, references and collections can be used instead and they are handled automatically by Ohm. If the use case permits, that's the best option because the underlying representation is still a Set, but when you delete an object it is automatically gone from all the collections that reference it.

[2019-02-19 18:04] lynnfaraday commented on #238
That's what I figured.  Thanks.

[2019-02-19 18:04] #238 closed

[2019-03-11 13:58] soveran commented on #237
I think we can close this for now. My guess is that the NOAUTH error was related to what we fixed. Feel free to reopen this issue if the problem returns. Thanks a lot for helping me out with this!

[2019-03-11 13:58] #237 closed

[2019-03-11 14:03] chriso0710 commented on #237
Yeah, ok. Thanks for your help!

[2019-03-18 05:01] lynnfaraday opened #240 "Order in Collections"
Small collections seem to have the items returned in order by id, but larger collections return the items in a seemingly random order.

Is this intentional?
If so, is there any way to specify a default sort order, other than to create a `sorted_xxx` method on the class to wrap the collection?

Here's a little [gist](https://gist.github.com/lynnfaraday/fa59879afaf24e5f13bd4002ce57caf3) showing the

[2019-11-02 01:26] damnitjim opened #241 "Distribute updates to multiple Redis instances"
I have use case where I'm trying to create a new model instance for an array of Redis hosts. I currently have this executing in a Sidekiq job, which relies on threads. I'm getting varying results of writes to each host. For example, I'll process 100 jobs and each host will not have the same number of updates. Is there any way to accomplish this with Ohm?

hosts = ['192.168.1.1', '192.168.1.2', '19